Repository falcosecurity/libs, pull requests merged in 2021-09, with the labels that each got.

#71 new(proposals): API versioning for user/kernel boundary
  proposals/20210818-driver-semver.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/L, area/proposals

#79 fix: container.privileged in containerd and crio
  userspace/libsinsp/container_engine/cri.cpp
  userspace/libsinsp/cri.cpp
  userspace/libsinsp/cri.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, needs-ok-to-test

#83 fix(cmake): add libcurl as a libsinsp dependency
  cmake/modules/libsinsp.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, ok-to-test

#82 fix(libsinsp): fix formatter for bytebuf types
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp, ok-to-test

#70 cleanup(libsinsp): make user agent string parametrized
  cmake/modules/libsinsp.cmake
  userspace/libsinsp/mesos_http.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/socket_handler.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp, ok-to-test

#90 fix(cmake): downgrade openssl to 1.0.2u
  cmake/modules/openssl.cmake
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build, ok-to-test
