Repository falcosecurity/libs, pull requests merged in 2021-12, with the labels that each got.

#156 Make the `scap-driver` component name configurable
  driver/CMakeLists.txt
  driver/bpf/CMakeLists.txt
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/driver-kmod, ok-to-test

#134 Updated protobuf version for s390x
  cmake/modules/protobuf.cmake
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/build, ok-to-test

#97 new(libsinsp,libscap): add is_exe_writable flag (take 2)
  driver/bpf/fillers.h
  driver/event_table.c
  driver/flags_table.c
  driver/ppm_events_public.h
  driver/ppm_fillers.c
  userspace/libscap/scap.h
  userspace/libscap/scap_procs.c
  userspace/libscap/scap_savefile.c
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/driver-kmod, area/driver-ebpf, area/libscap, area/libsinsp, ok-to-test, size/XL

#161 fix(userspace/libscap): do not return any value from void scap_fseek() function
  userspace/libscap/scap_savefile.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, needs-ok-to-test

#152 chore(libscap): change missed int32_t to ss_plugin_rc
  userspace/libscap/plugin_info.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap, ok-to-test
