Repository falcosecurity/libs, pull requests merged in 2021-06, with the labels that each got.

#48 build(cmake/modules): keep gRCP installation files into local dir
  cmake/modules/grpc.cmake
Labels: approved, area/build, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/XS

#32 Run extra CRI queries even when parse_containerd succeeds
  userspace/libsinsp/container_engine/cri.cpp
Labels: approved, area/libsinsp, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#44 new(proposals): versioning + release process of the libs artifacts
  proposals/20210524-versioning-and-release-of-the-libs-artifacts.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L
