Repository falcosecurity/libs, pull requests merged in 2021-11, with the labels that each got.

#114 Fix const warnings in libscap
  userspace/libscap/scap.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#110 Don't define strlcpy on musl libc
  CMakeLists.txt
  userspace/common/strlcpy.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/build, area/libscap

#117 fix: check that extracted field is present before copying it
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, ok-to-test

#113 Do not overwrite imageID if it's already set
  userspace/libsinsp/container_engine/cri.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#95 expose setting track connection status on sinsp parser
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test

#119 fix(cmake): set cflags before including the libs dir
  CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build, area/libscap, area/libsinsp, ok-to-test

#118 fix(driver,userspace/libsinsp): use new PPME_CONTAINER_JSON_2_ events with large payload
  driver/event_table.c
  driver/ppm_events_public.h
  userspace/libsinsp/container.cpp
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, ok-to-test

#121 Fix link for libraries contibutions in README.md
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test, area/proposals

#123 chore(libscap): remove unused variable sh from scap_read_init
  userspace/libscap/scap_savefile.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap, needs-ok-to-test

#124 fix(userspace/libsinsp): properly use dlerror() instead of errno when catching dlopen errors
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#116 new(userspace/libsinsp): properly support filtering on rawarg.(rel)path.
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/value_parser.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#127 Add Mark Stemm as libs OWNER
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#128 fix(libsinsp): correct `MINIMAL_BUILD` gate for docker
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#131 fix(build): switch gtest to use main branch instead of master
  cmake/modules/gtest.cmake
  userspace/libsinsp/test/CMakeListsGtestInclude.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, ok-to-test

#135 Define __STDC_FORMAT_MACROS for inttypes.h (older g++)
  userspace/libsinsp/plugin.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#138 fix(build): Use correct package name in DKMS config file
  driver/dkms.conf.in
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#140 fix(driver): small fix for eBPF probe on amznlinux2 kernels
  driver/bpf/filler_helpers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-ebpf, ok-to-test

#144 fix(build): update grpc cmake module to use find_package() when building using system library
  cmake/modules/grpc.cmake
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/build, ok-to-test
