Repository falcosecurity/libs, pull requests merged in 2022-11, with the labels that each got.

#693 update(driver): update syscalls tables.
  driver/report.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#692 chore(userspace/libsinsp): Add getter for the m_parent_loop_detected
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#695 fix(userspace/libsinsp): set current time in procinfo metaevent
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#696 chore(userspace/libscap): let the g_buffer_bytes_dim file missing be properly managed during the API version check
  userspace/libscap/engine/kmod/scap_kmod.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap-engine-kmod

#703 Make sure O_TMPFILE is defined in gvisor/parsers.cpp
  userspace/libscap/engine/gvisor/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libscap-engine-gvisor

#710 scap_t->m_win_*_handle are never used
  userspace/libscap/scap-int.h
  userspace/libscap/scap.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap

#711 Fix neglect-to-remove bug in sinsp automatic threadtable purging logic
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#712 fix(userspace): resolve some alerts generated by the Falco CodeQL job
  userspace/libscap/linux/scap_fds.c
  userspace/libscap/linux/scap_procs.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap

#713 fix(gvisor): skip invalid/untraceable sandboxes at startup
  userspace/libscap/engine/gvisor/scap_gvisor.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libscap-engine-gvisor

#715 fix(libscap,gvisor): correctly pass errors from init code
  userspace/libscap/scap.c
  userspace/libscap/scap_procs.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap, area/libscap-engine-gvisor

#718 fix(userspace): check that the actual kernel version is greater than the required one
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-modern-bpf

#719 Add `ignore_missing` option to session configuration
  userspace/libscap/engine/gvisor/config.json
  userspace/libsinsp/gvisor_config.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-gvisor

#721 fix(userspace/libscap): fixed loading of ebpf probe with offline CPUs
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libscap-engine-bpf

#726 Sync changes for 0.9.2: bpf bugfixes
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved

#700 update(driver): add a backoff in case of modern probe timeout
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.h
Labels: dco-signoff: yes, size/S, lgtm, approved

#714 cleanup(gvisor): remove max string length for runsc read
  userspace/libscap/engine/gvisor/runsc.cpp
  userspace/libscap/engine/gvisor/scap_gvisor.cpp
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libscap-engine-gvisor

#724 cleanup(userspace/libscap): scap_open should not start capture.
  userspace/libscap/examples/01-open/scap_open.c
  userspace/libscap/scap.c
  userspace/libsinsp/examples/test.cpp
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libscap

#730 Remove refresh_proc_table_when_saving from scap_t
  userspace/libscap/scap-int.h
  userspace/libscap/scap.c
  userspace/libscap/scap.h
  userspace/libscap/scap_savefile.c
  userspace/libsinsp/sinsp.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libscap, size/L

#731 cleanup(scap): Make the scap_open path a bit more regular
  userspace/libscap/CMakeLists.txt
  userspace/libscap/scap.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libscap, size/L

#732 fix(libscap): consistently remove the newline character from cgroups read from proc
  userspace/libscap/linux/scap_procs.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap

#733 fix(scap): use strerror_r return value
  userspace/libscap/scap.h
  userspace/libscap/scap_const.h
  userspace/libscap/strerror.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build, area/libscap

#729 fix(scap): Fix Windows build warnings
  userspace/libscap/engine/udig/scap_udig.c
  userspace/libscap/engine/udig/udig.h
  userspace/libscap/ringbuffer/devset.c
  userspace/libscap/ringbuffer/devset.h
  userspace/libscap/scap.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/build, area/libscap, size/L

#741 fix(scap): Properly reset handle->m_userlist
  userspace/libscap/linux/scap_userlist.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#743 docs(release.md): release branch naming convention
  docs/img/release-process.svg
  release.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#742 Define SCAP_HANDLE_T before including scap_open.h
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libscap-engine-modern-bpf

#745 update(docs): remove inttypes_win from NOTICE
  NOTICES
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, area/libsinsp

#746 Fix use-after-free when deleting the process table
  userspace/libscap/linux/scap_procs.c
  userspace/libscap/scap-int.h
  userspace/libscap/scap.c
  userspace/libscap/scap_procs.c
  userspace/libscap/scap_savefile.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap

#747 fix(driver/modern_bpf): fix params order in modern probe network functions
  driver/modern_bpf/helpers/store/auxmap_store_params.h
  test/modern_bpf/event_class/event_class.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/driver-modern-bpf

#748 Remove CYGWING_AGENT and HAS_CAPTURE from libscap
  userspace/libscap/CMakeLists.txt
  userspace/libscap/scap.c
  userspace/libscap/scap_savefile.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/build, area/libscap, size/L
