Repository falcosecurity/libs, pull requests merged in 2022-02, with the labels that each got.

#187 update: update readme with more informations
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, area/build, size/L

#188 new(gen_filters): port markdown function to generic filters
  userspace/libsinsp/gen_filter.cpp
  userspace/libsinsp/gen_filter.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp, ok-to-test

#199 fix(userspace/libsinsp): fix a wreorder warning that caused errors on centos7 build for Falco
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#194 Include linux/compat.h before net/compat.h
  driver/bpf/filler_helpers.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/driver-ebpf, ok-to-test

#204 fix(driver,bpf_probe): capture also execveat exit event
  driver/bpf/fillers.h
  driver/event_table.c
  driver/ppm_events_public.h
  driver/ppm_fillers.c
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/driver-kmod, area/driver-ebpf, ok-to-test

#157 update(libsinsp): add k8s node name validation
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp, ok-to-test

#202 new(userspace/libsinsp): allow to specify a list of cri socket paths to be tried in fallback manner.
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container.h
  userspace/libsinsp/container_engine/cri.cpp
  userspace/libsinsp/container_engine/cri.h
  userspace/libsinsp/cri.cpp
  userspace/libsinsp/cri.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#221 perf(sinsp): avoid copy in sinsp_utils::find_first_env
  userspace/libsinsp/utils.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, needs-ok-to-test

#226 fix(userspace/libsinsp): properly include <memory> in libsinsp token_bucket unit test
  userspace/libsinsp/test/token_bucket.ut.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#222 chore(cmake/modules) Bump bundled GRPC version to 1.44.0
  cmake/modules/grpc.cmake
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build, ok-to-test

#225 fix(driver,libscap): add `PPM_SC_CLONE` and `PPM_SC_CLONE3`
  driver/ppm_events_public.h
  driver/syscall_table.c
  userspace/libscap/syscall_info_table.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-kmod, area/libscap, ok-to-test

#228 fix(userspace/libsinsp): fix evttype_filter.ut test build
  userspace/libsinsp/test/evttype_filter.ut.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests
