Repository falcosecurity/libs, pull requests merged in 2022-05, with the labels that each got.

#315 fix(libscap): fix empty buffer handling
  userspace/libscap/scap_event.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, ok-to-test

#283 fix(bpf): avoid to discard useful events
  driver/bpf/filler_helpers.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/driver-ebpf, ok-to-test

#295 do not clear dns cache until last sinsp instance
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp, ok-to-test

#262 fix(libsinsp): use `at` instead of `operator []` for bound checking
  userspace/libsinsp/event.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, ok-to-test

#317 fix(driver-ebpf): fix a verifier issue in `sys_autofill` filler
  driver/bpf/fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-ebpf

#316 fix(libscap): increase the BPF verifier's log buffer size
  userspace/libscap/scap_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-ebpf, area/libscap

#320 fix(libscap): add support for PT_ENUMFLAGS to scap_event_encode
  userspace/libscap/scap_event.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, ok-to-test

#322 fix(userspace/libsinsp): remove usage of designated initializer
  userspace/libsinsp/plugin.cpp
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#323 fix(driver): initialize event_filler_arguments to fix is_socketcall on aarch64
  driver/main.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, ok-to-test

#324 fix(driver-ebpf): fixes verifier error for sys_open_by_handle_at
  driver/bpf/fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-ebpf, ok-to-test

#325 refactor(userspace/libsinsp)!: refactor inspector interface for creating plugins
  userspace/libsinsp/plugin.cpp
  userspace/libsinsp/plugin.h
  userspace/libsinsp/plugin_filtercheck.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#329 fix(libscap/engine/gvisor): fix cmake without USE_BUNDLED_DEPS
  userspace/libscap/engine/gvisor/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, ok-to-test

#331 fix(libscap): add defines in userspace_flags_helpers.h for alpine-musl/centos7 builds that don't have them
  userspace/libscap/userspace_flag_helpers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libscap, ok-to-test

#335 Initialize m_ptid when initializing other vars
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#339 filters optimizer PT_IPNET
  userspace/libsinsp/filter.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, ok-to-test

#340 filtercheck-container args string
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#345 Add std:: namespace to stl classes, add string include
  userspace/libsinsp/filter.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#334 Support PT_FD param types when converting to json/string
  userspace/libsinsp/filter.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#348 update(cmake): bump OpenSSL to 1.1.1o
  cmake/modules/openssl.cmake
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libscap, area/libsinsp, ok-to-test

#349 update(cmake): Update libcurl to 7.83.1
  cmake/modules/curl.cmake
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build, area/libscap, area/libsinsp, ok-to-test

#356 fix(driver/bpf): catch pushed on frame data when `val=0`
  driver/bpf/filler_helpers.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-ebpf

#359 new(userspace/libscap): add a --scap_file option to scap-open test.
  userspace/libscap/examples/01-open/test.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests

#364 fix(userspace/libsinsp): immediately add synchronously spotted containers to list of containers
  userspace/libsinsp/container_engine/bpm.cpp
  userspace/libsinsp/container_engine/libvirt_lxc.cpp
  userspace/libsinsp/container_engine/lxc.cpp
  userspace/libsinsp/container_engine/mesos.cpp
  userspace/libsinsp/container_engine/rkt.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp
