Repository falcosecurity/libs, pull requests merged in 2022-08, with the labels that each got.

#519 fix(scap/gvisor): do not use C99 initializers in C++ in gVisor
  userspace/libscap/engine/gvisor/gvisor.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libscap-engine-gvisor

#520 fix(gvisor): cleanup tests, consistent return values
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/test/scap_gvisor_parsers.ut.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap-engine-gvisor

#523 fix(libscap): Use fdopen if gzdopen isn't available.
  userspace/libscap/scap-int.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap

#522 update(tests): automatically run libscap tests in CI
  CMakeLists.txt
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, area/tests

#528 update(scap-open): handle all scap return codes
  userspace/libscap/examples/01-open/scap_open.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap

#529 chore(PULL_REQUEST_TEMPLATE.md): add savefile engine entry
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#532 fix(userspace/libsinsp): revert container.mount source and dest extraction
  userspace/libsinsp/filterchecks.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#533 fix(ci): fixed checkout action fetch depth.
  .github/workflows/ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved

#527 chore(userspace/libscap): fixed printf on error when check_api_compatibility() fails
  userspace/libscap/scap_engine_util.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap

#538 new(ci): build libs and modern-bpf for s390x
  .github/workflows/ci.yml
Labels: kind/bug, kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/build, area/tests

#536 update(OWNERS): add Luca Guerra (LucaGuerra) to owners
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/proposals

#541 Fixup our Win32 checks.
  driver/ppm_events_public.h
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libscap/scap_procs.c
  userspace/libscap/scap_savefile.c
  userspace/libscap/scap_userlist.c
  userspace/libsinsp/dns_manager.h
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libscap, area/libsinsp

#499 fix(libsinsp): consider <NA> as an empty param
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#537 new(libsinsp/tests): add basic dup/dup2/dup3 tests
  userspace/libsinsp/test/sinsp.ut.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, area/tests, size/L

#555 update(cmake): Remove old LuaJIT+macOS compiler flags.
  cmake/modules/CompilerFlags.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#557 fix(userspace/libscap): set gzerror fallback to static
  userspace/libscap/scap_zlib.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libscap

#530 improve fields parsing performance by eliminating temp strings.
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filter/parser.cpp
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/utils.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/L, ok-to-test

#562 fix(userspace/libsinsp): fix parse_field_name() wrong check (size_t, aka uint32_t, cast of max_fldlen)
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#559 chore(userspace/libscap): give name to bpf programs
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-bpf

#564 (fix) Fix compile error in sinsp_with_test_input
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#565 update(driver): Unpack a couple of structs.
  driver/ppm_events_public.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#566 fix(libsinsp): avoid unused variable
  userspace/libsinsp/sinsp.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#570 fix(readme): fixed small typo.
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved

#574 fix(kmod): add the string terminator if not present
  driver/ppm_events.c
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/driver-kmod

#568 cleanup(sinsp): add output format option to sinsp-example
  userspace/libsinsp/examples/test.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp
