Repository falcosecurity/libs, pull requests merged in 2022-03, with the labels that each got.

#235 new(libsinsp,libscap): Support full argument retrieval on both entry and exit for some syscalls
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
Labels: kind/feature, release-note, dco-signoff: yes, size/XXL, lgtm, approved, area/driver-kmod, area/driver-ebpf, area/libscap, area/libsinsp, ok-to-test

#236 fix(userspace/libsinsp): fixed podman as user detection
  userspace/libsinsp/container_engine/cri.cpp
  userspace/libsinsp/container_engine/docker/base.cpp
  userspace/libsinsp/container_engine/docker/docker_linux.cpp
  userspace/libsinsp/container_engine/docker/podman.cpp
  userspace/libsinsp/runc.cpp
  userspace/libsinsp/runc.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#238 fix(libsinsp): check param num on connect/open/openat parsing
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, ok-to-test

#241 chore(userspace/libsisnp): addresses is_pod deprecation in C++20
  userspace/libsinsp/tuples.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp, ok-to-test

#242 fix(libsinsp/plugins): fix init schema config string passing
  userspace/libsinsp/plugin.cpp
  userspace/libsinsp/plugin.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#251 refactor: move async key value source into libsinsp
  userspace/libsinsp/async/async_key_value_source.h
  userspace/libsinsp/async/async_key_value_source.tpp
  userspace/libsinsp/cgroup_limits.h
  userspace/libsinsp/container_engine/cri.h
  userspace/libsinsp/container_engine/docker/async_source.h
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libsinsp, kind/design

#253 fix(libsinsp): Zero-initializes m_sockinfo in sinsp_fdinfo.
  userspace/libsinsp/fdinfo.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#257 fix(libsinsp): format list fields correctly
  userspace/libsinsp/filter.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#258 fix(libscap): set openat dirfd parameter to 0
  driver/event_table.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap, ok-to-test

#244 Adding openat2 header file under __NR_openat2 and UDIG ifdef code block
  driver/ppm_fillers.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test

#189 Add io uring syscalls
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/flags_table.c
  driver/ppm_compat_unistd_32.h
  driver/ppm_events_public.h
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  driver/ppm_flag_helpers.h
  driver/syscall_table.c
  userspace/libscap/syscall_info_table.c
Labels: release-note, dco-signoff: yes, size/XXL, lgtm, approved, area/driver-kmod, area/driver-ebpf, area/libscap, ok-to-test

#261 fix(libsinsp): fix ipv6 destination ip printing
  userspace/libsinsp/utils.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp, needs-ok-to-test

#263 fix: fixes returning uring_setup retvalue
  driver/ppm_fillers.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test

#265 fix(libsinsp): overwrite fd destination address when safe to do so
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp, ok-to-test
