Repository falcosecurity/libs, pull requests merged in 2022-10, with the labels that each got.

#640 Avoid calls to sock->getname() from kernel module fillers
  driver/ppm_events.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/driver-kmod, size/L

#642 fix(kmod): check use of `kstrtoul`
  driver/main.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-kmod

#651 fix(sinsp): don't look up thread -1 in the table
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#656 new(libsinsp,libscap): add a new generable event API
  userspace/libscap/scap.c
  userspace/libscap/scap.h
  userspace/libsinsp/sinsp.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap, area/libsinsp

#660 fix(driver): avoid kmod buffer corruption in case of `len>max_arg_size`
  driver/ppm_events.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, size/L

#661 update(libscap-engine-kmod): avoid a write operation when not necessary
  userspace/libscap/engine/kmod/scap_kmod.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap-engine-kmod

#663 fix(userspace/sinsp): return event names of generic syscall events
  userspace/libsinsp/sinsp_ppm_sc.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#654 chore(ci): add a driverkit job in CI to test drivers build against multiple kernelreleases
  .github/workflows/ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#667 Make sinsp open methods virtual for tests
  userspace/libsinsp/sinsp.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#659 update(userspace): Make HAVE_STRLCPY internal.
  CMakeLists.txt
  cmake/modules/libscap.cmake
  userspace/common/common_config.h.in
  userspace/common/strlcpy.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build

#657 update(cmake): bumped bundled libbpf to 1.0.1, latest version.
  cmake/modules/libbpf.cmake
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/build

#669 fix(userspace/libsinsp): do proper checks on syscall.type filtercheck
  userspace/libsinsp/filterchecks.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#670 update(release): sync commits from master
  userspace/libsinsp/filterchecks.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#671 chore(ci): added kernelurls parameter pointing to download.falco.org to driverkit CI job
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#672 fix(savefile-engine): skip unreferenced FD block
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-savefile

#673 Don't munmap the placeholder before mapping the ring buffer
  userspace/libscap/engine/udig/scap_udig.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, area/libscap-engine-udig

#675 chore(libs): move strlcpy definition in libscap module
  CMakeLists.txt
  cmake/modules/libscap.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap

#674 feat(libs): Add new return code for filtered events(3/3)
  userspace/libscap/scap.c
  userspace/libsinsp/sinsp.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap, area/libsinsp

#678 fix(sinsp-example): handle SCAP_FILTERED_EVENT
  userspace/libsinsp/examples/test.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#625 docs(modern_bpf): add some info about bpftool version
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#676 feat: Add new return code for filtered events (4/3)
  userspace/libsinsp/include/sinsp_external_processor.h
  userspace/libsinsp/sinsp.cpp
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#680 fix(libscap): raw syscalls return -errno, not just -1
  userspace/libscap/scap_procs.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#630 update(scap-open): count the number of timeouts if buffers are empty
  userspace/libscap/examples/01-open/scap_open.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/scap-open

#683 chore(userspace/libscap): cleanup some libscap includes and defines
  userspace/libscap/CMakeLists.txt
  userspace/libscap/engine/bpf/bpf_public.h
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/gvisor/gvisor.cpp
  userspace/libscap/engine/gvisor/gvisor_public.h
  userspace/libscap/engine/kmod/kmod_public.h
  userspace/libscap/engine/kmod/scap_kmod.c
  userspace/libscap/engine/modern_bpf/modern_bpf_public.h
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
  userspace/libscap/engine/nodriver/nodriver_public.h
  userspace/libscap/engine/savefile/savefile_public.h
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libscap/engine/source_plugin/source_plugin_public.h
  userspace/libscap/engine/test_input/test_input_public.h
  userspace/libscap/engine/udig/scap_udig.c
  userspace/libscap/engine/udig/udig_public.h
  userspace/libscap/scap.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libscap, size/L

#668 fix(userspace/libscap): fallback at considering cpus online when NUMA topology information is missing
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap-engine-bpf

#687 Revert "Make internal scap_procs.c functions static"
  userspace/libscap/scap-int.h
  userspace/libscap/scap_procs.c
Labels: kind/failing-test, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libscap, area/tests

#689 chore(userspace): install also libbpf uapi headers in bundled deps
  cmake/modules/libbpf.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#690 Fix vtid/vpid fields in CLONE_20_X event built by sched_proc_fork
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod
