Repository falcosecurity/libs, pull requests merged in 2022-04, with the labels that each got.

#278 chore(build): openssl install_sw
  cmake/modules/openssl.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, ok-to-test

#277 fix(libsinsp): safely check number of parameters on execve exit parser
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#284 fix(driver): use fput in kmod when handling open_by_handle_at
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, ok-to-test

#280 cleanup(userspace/libsinsp): remove code and tests related to evttypes in filterchecks
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
  userspace/libsinsp/gen_filter.cpp
  userspace/libsinsp/gen_filter.h
  userspace/libsinsp/plugin.cpp
  userspace/libsinsp/test/CMakeLists.txt
  userspace/libsinsp/test/evttype_filter.ut.cpp
Labels: release-note, dco-signoff: yes, size/XXL, lgtm, approved, kind/cleanup, area/libsinsp, area/tests

#288 chore(userspace/libsinsp): remove lua_parser from chisels
  userspace/chisel/lua_parser.cpp
  userspace/chisel/lua_parser.h
  userspace/chisel/lua_parser_api.cpp
  userspace/chisel/lua_parser_api.h
  userspace/libsinsp/CMakeLists.txt
Labels: release-note, dco-signoff: yes, size/XXL, lgtm, approved, kind/cleanup, area/libsinsp

#266 fix(driver): handling of io_uring_opcodes indipendent from kernel ver…
  driver/flags_table.c
  driver/ppm_events_public.h
  driver/ppm_flag_helpers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-kmod, needs-ok-to-test

#286 chore(userspace/libsinsp): print field argument flags in filtercheck format
  userspace/libsinsp/filter.cpp
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#276 update(libsinsp): Enable position-independent code.
  cmake/modules/CompilerFlags.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test

#290 update(OWNERS): add Andrea Terzolo (andreagit97) to OWNERS
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test, area/proposals

#285 feature(sinsp-example): Add JSON format output
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L, ok-to-test

#275 chore(libscap): Improve error message when procfs scan fails
  userspace/libscap/scap.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap, ok-to-test

#273 fix(libsinsp): Reset destination IP on old connect enter event
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#297 fix(driver/bpf): sys_open_e verifier issue on aarch64
  driver/ppm_flag_helpers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-ebpf, ok-to-test

#264 new(libscap): add scap_event_encode_params()
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libscap, size/L, ok-to-test

#296 Skip cgroup lookups in podman if no api socket
  userspace/libsinsp/container_engine/docker/podman.cpp
  userspace/libsinsp/container_engine/docker/podman.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M

#300 update(userspace/libsinsp): Fix building on Windows.
  cmake/modules/CompilerFlags.cmake
  userspace/libsinsp/user.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp, ok-to-test

#294 disallow-ipv6net-without-prefix
  userspace/libsinsp/tuples.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp, ok-to-test

#305 update(userspace/libscap): Add missing Windows libraries.
  userspace/libscap/windows_hal.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap, ok-to-test

#306 fix(userspace/libsinsp): restore capture mode with proper checks in is_initialstate_event()
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#308 fix(userspace/libsinsp): always import users and groups from scap to retain backward compatibility with existent scap files for host users/groups
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#307 fix(userspace/libsinsp): semver check required_api_version before anything and correct get_extract_event_sources logic
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#312 build(cmake): rename `CURL_INCLUDE_DIR` to `CURL_INCLUDE_DIRS`
  cmake/modules/curl.cmake
  cmake/modules/libsinsp.cmake
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/build

#289 fix(driver,userspace/libsinsp): correctly manage enum valued flags as enum, instead of bitmask
  driver/bpf/filler_helpers.h
  driver/event_table.c
  driver/ppm_events.c
  driver/ppm_events_public.h
  userspace/chisel/chisel_api.cpp
  userspace/libsinsp/event.cpp
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/table.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/value_parser.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/driver-kmod, area/driver-ebpf, area/libsinsp, size/L
