Repository falcosecurity/libs, pull requests merged in 2022-06, with the labels that each got.

#368 fix(userspace/libsinsp): reduce mem allocs for filter comparisons
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filterchecks.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#370 fix(userspace/libsinsp): avoid string copy in plugin extraction
  userspace/libsinsp/plugin_filtercheck.cpp
  userspace/libsinsp/plugin_filtercheck.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#369 fix(userspace/libsinsp): reduce mem allocs for field extraction in chisels and formatting
  userspace/chisel/chisel_api.cpp
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filterchecks.h
  userspace/libsinsp/table.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#372 docs: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved

#375 fix(driver): Remove __NR_socketcall check
  driver/syscall_table.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-kmod, area/driver-bpf, ok-to-test

#302 update(driver,libsinsp): inode numbers in file events
  driver/bpf/filler_helpers.h
  driver/bpf/fillers.h
  driver/event_table.c
  driver/ppm_fillers.c
  userspace/libscap/scap.h
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
  userspace/libsinsp/parsers.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libsinsp, size/L, ok-to-test

#376 refactor(userspace/libsinsp): remove unused check_id from events
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filter.h
  userspace/libsinsp/gen_filter.cpp
  userspace/libsinsp/gen_filter.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#379 fix(driver): io_uring_params features attribute
  driver/ppm_fillers.c
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/driver-kmod, ok-to-test

#380 fix(libscap): call vtable->free_handle at shutdown
  userspace/libscap/scap.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, ok-to-test

#383 fix(userspace/libsinsp): define HAVE_PWD_H and HAVE_GRP_H on every non-windows system
  userspace/libsinsp/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build

#387 Move CMAKE_THREAD_LIBS_INIT to after gtest when linking
  userspace/libscap/test/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, area/tests

#389 chore(userspace/libsinsp): improve messages of plugin version errors
  userspace/libsinsp/plugin.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#400 update(userspace/libscap): support scaps stats in source plugin engine
  userspace/libscap/engine/source_plugin/source_plugin.c
  userspace/libscap/engine/source_plugin/source_plugin.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libscap-engine-source-plugin

#398 update(libscap): Add a macOS platform directory.
  userspace/libscap/CMakeLists.txt
  userspace/libscap/macos/CMakeLists.txt
  userspace/libscap/macos/barrier.h
  userspace/libscap/macos/gettimeofday.h
  userspace/libscap/macos/sleep.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libscap, ok-to-test

#401 fix(driver): check `rename` family syscalls are defined
  driver/syscall_table.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#406 fix(gvisor): use strlcpy to copy unix path strings
  userspace/libscap/engine/gvisor/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, ok-to-test

#407 fix(gvisor): handle empty root path or socket
  userspace/libscap/scap_open.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, ok-to-test

#408 update(gvisor): only build on x86_64
  userspace/libscap/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test

#196 new(build): sets FALCOSECURITY_LIBS_VERSION on the checked-out git ref
  CMakeLists.txt
  cmake/modules/GetGitRevisionDescription.cmake
  cmake/modules/GetGitRevisionDescription.cmake.in
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/build, size/L, ok-to-test

#405 docs: initial release.md
  release.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build

#415 fix(gvisor): add DEPENDS to proto generation command
  userspace/libscap/engine/gvisor/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, ok-to-test, area/libscap-engine-gvisor

#417 new(libsinsp): add is_gvisor()
  userspace/libsinsp/sinsp.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test, area/libscap-engine-gvisor

#422 update(build): upgrade OpenSSL to 1.1.1p
  cmake/modules/openssl.cmake
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build, area/libsinsp, ok-to-test

#420 fix(gvisor): initialize missing variables
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test, area/libscap-engine-gvisor

#428 fix(libsinsp): Don't overwrite good container metadata with bad
  userspace/libsinsp/container.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#411 fix(driver): fixed kmod build on linux kernels >= 5.18.
  driver/main.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-kmod

#418 fix(scap_engine_bpf): enable `_64BIT_ARGS_SINGLE_REGISTER` on ARM64
  driver/ppm_fillers.c
  driver/ppm_fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-bpf, size/L, area/libscap-engine-bpf

#432 update(build): upgrade libcurl to 7.84.0
  cmake/modules/curl.cmake
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/build, area/libsinsp, ok-to-test

#436 update(driver): bump SCHEMA_VERSION to 2.0.0
  driver/SCHEMA_VERSION
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build, area/driver-kmod

#440 Fix 'declaration changes meaning' error when compiling in C++
  driver/ppm_events_public.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, ok-to-test

#444 update(gvisor): introduce default root path
  userspace/libscap/engine/gvisor/scap_gvisor.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, ok-to-test, area/libscap-engine-gvisor

#445 fix(libscap): bump minimum schema version to 2.0.0
  userspace/libscap/scap.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, ok-to-test

#447 fix(libsinsp/k8s): set api url path to "apps/v1"
  userspace/libsinsp/sinsp.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp, ok-to-test
