Repository falcosecurity/libs, pull requests merged in 2022-07, with the labels that each got.

#448 fix(bpf): fix compilation issue on `4.18.0-193.75.1.el8_2.x86_64`
  driver/bpf/fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-bpf

#456 fix(userspace/libscap): propagate scap open errors
  userspace/libscap/scap.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#455 fix(userspace/libsinsp): avoid crashing in TYPE_RESSTR when an EF_CREATES_FD event has no "fd" param
  userspace/libsinsp/filterchecks.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#458 fix(gvisor): fix epoll use-after-free
  userspace/libscap/engine/gvisor/gvisor.h
  userspace/libscap/engine/gvisor/scap_gvisor.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, ok-to-test, area/libscap-engine-gvisor

#466 fix(build): set gtest tag instead of using main
  CMakeListsGtestInclude.cmake
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build, ok-to-test

#474 fix(libscap): add EF_OLD_VERSION for older versions of events
  driver/event_table.c
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libscap, ok-to-test

#475 docs: add `libpman` label
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#459 fix(driver): fixed build of kmod on ancient < 2.6.39 kernels.
  driver/ppm_fillers.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod

#467 fix(install): install the 10 libscap related libraries
  cmake/modules/libscap.cmake
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/build, area/libscap

#472 fix(driver/bpf): accessing loginuid depends upon a config flag in the kernel
  driver/bpf/fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build, area/driver-bpf

#457 chore: fix gtest fatal error
  CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#442 fix(curl-https-fail): Removing 2 configuration flags for lib curl
  cmake/modules/curl.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, ok-to-test

#449 fix(driver): fixed a couple of possible (yet unlikely) uninitialized vars in driver
  driver/bpf/fillers.h
  driver/flags_table.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/driver-bpf

#481 fix(libscap): fix call to ioctl when getting proclist
  userspace/libscap/engine/kmod/scap_kmod.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test, area/libscap-engine-kmod

#480 update(OWNERS): add Mauro Moltrasio (Molter73) to OWNERS
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test, area/proposals

#476 docs: fix order of eBPF warning and gVisor paragraph
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test

#488 update(gvisor): add retries and ignore_setup_error to gvisor config g…
  userspace/libscap/engine/gvisor/config.json
  userspace/libsinsp/gvisor_config.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, ok-to-test, area/libscap-engine-gvisor

#489 update(OWNERS): move inactive approvers to emeritus_approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup

#490 feat: Add new return code for filtered events(1/3)
  userspace/libscap/scap.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap, area/libsinsp, ok-to-test

#496 new(CI): add GH actions for modern BPF probe
  .github/workflows/ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build

#505 update(bpf): disable BPF raw tracepoints for not supported architectures
  driver/bpf/quirks.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/driver-bpf

#507 cleanup(libsinsp): remove redundant string in validate_filter_value
  userspace/libsinsp/filterchecks.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp, ok-to-test

#508 fix(libsinsp): retain compatibility with PPME_SYSCALL_DUP_X
  userspace/libsinsp/parsers.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS

#211 update(libsinsp): drop also untracked syscalls in kernel-side simple consumer mode
  userspace/libsinsp/sinsp.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, ok-to-test

#382 update(driver): add `getrlimit` and `ugetrlimit` to simple consumer
  driver/syscall_table.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#511 Don't use C99 initializers in C++
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build

#510 update(CI): build also `bpf_test` in ARM64 job
  .github/workflows/ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#332 Track container user info and expose via user.name
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container_engine/cri.cpp
  userspace/libsinsp/container_engine/docker/async_source.cpp
  userspace/libsinsp/container_info.cpp
  userspace/libsinsp/container_info.h
  userspace/libsinsp/cri.cpp
  userspace/libsinsp/cri.h
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/parsers.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#336 Fix threadinfo leaks when threaded programs exec
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#351 feat(filterchecks): add optional metrics struct for caching
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filterchecks.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp
