Repository falcosecurity/libs, pull requests merged in 2022-12, with the labels that each got.

#757 fix(sinsp-example): parse cli options missing -m
  userspace/libsinsp/examples/test.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#739 vote: propose `hbrueckner` as a driver libs maintainer
  driver/OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#760 update(driver): updated report format.
  driver/report.md
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup

#765 fix(scap): Fill thread loginuid with default value -1, if /proc loginuid is unavailable
  userspace/libscap/linux/scap_procs.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#768 fix(ci): update e2e test with new sinsp example
  test/e2e/tests/commons/sinspqa/sinsp.py
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#755 update(userspace): stop capture before closing the engine
  userspace/libscap/scap.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap

#773 fix(sinsp): don't return invalid tinfos in clone events
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#779 fix(driver): use `extract__egid` instread of `extract__euid` helper
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/fork.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/vfork.bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#780 fix: increase the number of attempts to retrieve container info from CRI
  userspace/libsinsp/container_info.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#785 fix: set max retries to 5 when using CRI only
  userspace/libsinsp/container_engine/cri.cpp
  userspace/libsinsp/container_info.h
  userspace/libsinsp/test/CMakeLists.txt
  userspace/libsinsp/test/container_info.ut.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#789 fix(sinsp): format PT_ABSTIME values
  userspace/libsinsp/event.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#790 update(ci): enable gh actions jobs on `maintainers/` branches
  .github/workflows/ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#791 chore(userspace): manage not bundled libelf dependency adding a custom target
  cmake/modules/libelf.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#763 fix(sinsp): Try /images/json (without ?digests=1) for podman
  userspace/libsinsp/container_engine/docker/async_source.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#804 update(driver): improve logging in case of failed bpf loading
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-bpf

#766 new(sinsp): Parse other container variables in static container
  userspace/libsinsp/container_engine/static_container.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#772 new(sinsp): Allow enabling/disabling individual container engines on startup
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container.h
  userspace/libsinsp/sinsp.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#771 fix(sinsp): Get CRI image metadata both from image and imageRef
  userspace/libsinsp/container_engine/cri.cpp
  userspace/libsinsp/cri.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#807 update(build): update libcurl to 7.87.0
  cmake/modules/curl.cmake
  userspace/libsinsp/mesos_http.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build
