Repository falcosecurity/libs, pull requests merged in 2022-01, with the labels that each got.

#165 fix(libscap): perform seteuid/setegid only for the current thread
  userspace/libscap/scap_procs.c
  userspace/libscap/unixid.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libscap, size/L, needs-ok-to-test

#164 Support ARM processor: use proper x86 #ifdefs to isolate x86-specific code
  driver/bpf/filler_helpers.h
  driver/bpf/quirks.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, area/driver-ebpf, needs-ok-to-test

#170 (fix) Use euid/egid instead of uid/gid in scap_proc_fill_exe_writable
  userspace/libscap/scap_procs.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#168 fix(libsinsp): catch errors during plugin initialization
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#160 Fix compilation on i586
  driver/main.c
Labels: dco-signoff: yes, lgtm, approved, size/XS

#178 update(OWNERS): add Federico Di Pierro (fededp) to OWNERS
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, needs-ok-to-test

#176 fix(driver): add ppm_get_mm_exe_file to abstract differences between kernel versions
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-kmod, ok-to-test

#180 fix(driver): use file_inode() for file inode operations
  driver/ppm_fillers.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, ok-to-test

#177 fix(driver,userspace/libscap): multiple fixes for syscalls_of_interest feature
  driver/ppm_events_public.h
  driver/syscall_table.c
  userspace/libscap/scap.c
  userspace/libscap/syscall_info_table.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-kmod, area/driver-ebpf, area/libscap, ok-to-test

#182 chore(libsinsp): improve UX of plugin init schema validation
  userspace/libsinsp/plugin.cpp
  userspace/libsinsp/plugin.h
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, ok-to-test

#183 fix: Include exe_writable in the length of dumped threadinfos
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#179 fix(probe): fix clang optimization problem
  driver/bpf/fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-ebpf, ok-to-test

#184 fix(udig): add fourth argument placeholder for PPME_PROCEXIT_1_E
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, ok-to-test
