Repository falcosecurity/libs, pull requests merged in 2023-02, with the labels that each got.

#862 Add <cstdint> for uintXX_t types
  userspace/libsinsp/filter/parser.h
  userspace/libsinsp/filter_value.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#859 vote: update(OWNERS): add incertum (Melissa Kilby) to approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#864 new(ci): add a circleCI job to test drivers on arm64
  .circleci/config.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/L, area/CI

#858 fix(bpf): fixed a couple of clang15 verifier issues.
  driver/bpf/fillers.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/driver-bpf

#869 fix(CI): add `DEBIAN_FRONTEND=noninteractive` in arm64 jobs
  .circleci/config.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#868 update(build): upgrade openssl to 1.1.1t
  cmake/modules/openssl.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libsinsp

#871 fix(libcurl): set path to ca-certificates at build time for libcurl
  cmake/modules/curl.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#870 chore(driver): check minimum kernel versions for each driver.
  driver/CMakeLists.txt
  driver/bpf/CMakeLists.txt
  driver/modern_bpf/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/build

#867 cleanup(libsinsp): extend ppm_sc sinsp API
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_ppm_sc.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#872 cleanup(driver): uniform feature gates between drivers
  driver/bpf/plumbing_helpers.h
  driver/bpf/probe.c
  driver/main.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/vfork.bpf.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/driver-kmod, area/driver-bpf, size/L, area/driver-modern-bpf

#876 ci: remove arm64 jobs from GHA
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#879 new(ci): add semgrep checks for insecure API usage
  .github/workflows/ci.yml
  semgrep/insecure-api-gets.yaml
  semgrep/insecure-api-sprintf-vsprintf.yaml
  semgrep/insecure-api-strcpy-stpcpy-strcat.yaml
  semgrep/insecure-api-strncpy.yaml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/L, area/CI

#882 fix(modern_bpf): actually extract minor page fault number
  driver/modern_bpf/programs/attached/events/sched_switch.bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#883 fix(ci): split insecure-api check from ci; it will be triggered only on PRs
  .github/workflows/ci.yml
  .github/workflows/insecure-api.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#786 fix: dequeue_next_key breaks async_key_value_source TTL mechanism
  userspace/libsinsp/async/async_key_value_source.h
  userspace/libsinsp/async/async_key_value_source.tpp
  userspace/libsinsp/container_engine/container_async_source.h
  userspace/libsinsp/container_engine/container_async_source.tpp
  userspace/libsinsp/test/async_key_value_source.ut.cpp
  userspace/libsinsp/test/container_info.ut.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/XL

#886 fix(userspace): remove 2 event check types not used
  userspace/libsinsp/filterchecks.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#894 fix(libpman): fix fclose
  userspace/libpman/src/ringbuffer.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libpman

#897 doc: update syscall report
  driver/report.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-bpf, area/driver-modern-bpf

#895 update(libsinsp): fix reduced_ variable names
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/tracers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#907 fix(cmake): make scap_engine_savefile depend on zlib only if not in minimal build
  userspace/libscap/engine/savefile/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#909 new(modern_probe): Add getresuid
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/getresuid.bpf.c
  test/drivers/test_suites/syscall_enter_suite/getresuid_e.cpp
  test/drivers/test_suites/syscall_exit_suite/getresuid_x.cpp
  userspace/libpman/src/events_prog_names.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/L, area/driver-modern-bpf

#919 fix(driver): fix build on linux-6.2
  driver/main.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod

#921 fix(libsinsp): removed libsinsp::events::set.data() writable method.
  userspace/libsinsp/events/sinsp_events.cpp
  userspace/libsinsp/events/sinsp_events_ppm_sc.cpp
  userspace/libsinsp/events/sinsp_events_set.h
  userspace/libsinsp/events/sinsp_events_tp.cpp
  userspace/libsinsp/test/public_sinsp_API/interesting_syscalls.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#922 fix(driver/bpf): fixed bpf probe build on kernel >= 6.2
  driver/bpf/fillers.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-bpf

#924 chore(docs): add badge for new `Test build latest kernel available in arch`
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#927 fix(libsinsp): add nullpointer check to struct passwd parsing
  userspace/libsinsp/user.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#930 fix(userspace/libsinsp): properly compute set size
  userspace/libsinsp/events/sinsp_events_set.h
  userspace/libsinsp/test/public_sinsp_API/events_set.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, area/tests

#913 cleanup(unit_tests): ppm sc API + point out outstanding fixes needed for `event_set_to_sc_set` and `event_set_to_names`
  userspace/libsinsp/test/public_sinsp_API/events_set.cpp
  userspace/libsinsp/test/public_sinsp_API/interesting_syscalls.cpp
  userspace/libsinsp/test/test_utils.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, area/tests, size/XL

#928 new(modern_bpf): Relax required kernel version for modern bpf
  userspace/libpman/src/configuration.c
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-modern-bpf, area/libscap-engine-modern-bpf
