Repository falcosecurity/libs, pull requests merged in 2023-08, with the labels that each got.

#1269 sync: release 0.12.x
  docs/report.md
  driver/ppm_events_public.h
  driver/syscall_compat_aarch64.h
  driver/syscall_compat_s390x.h
  driver/syscall_compat_x86_64.h
  driver/syscall_table.c
  userspace/libscap/linux/scap_ppm_sc.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup

#1258 new(build): upgrade to OpenSSL 3.1.1
  cmake/modules/openssl.cmake
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#1268 update(cmake/modules): bump luajit
  cmake/modules/luajit.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1274 cleanup(libsinsp): swap check order in is_in_pid_namespace()
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1275 chore: realign drivers license
  driver/bpf/probe.c
  driver/main.c
  driver/modern_bpf/license/license.bpf.c
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1271 cleanup(cmake,userspace): moved tinydir and jsoncpp from third-party folder to full cmake modules
  .github/install-deps.sh
  NOTICES
  cmake/modules/jsoncpp.cmake
  cmake/modules/tinydir.cmake
  userspace/chisel/chisel.cpp
  userspace/common/common_config.h.in
  userspace/libscap/engine/gvisor/CMakeLists.txt
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/third-party/jsoncpp/json/json-forwards.h
  userspace/libsinsp/third-party/jsoncpp/json/json.h
  userspace/libsinsp/third-party/jsoncpp/jsoncpp.cpp
  userspace/libsinsp/third-party/tinydir.h
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/build, area/libscap, area/libsinsp

#1277 fix(.github): read right file for schema version checks
  .github/workflows/driver-schema-version.yml
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/CI

#1278 chore(userspace/libsinsp/test): skip scap file download if already present
  userspace/libsinsp/test/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build

#1279 new: introduce a new sinsp binary to improve scap-file debugging
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/sinsp_debug/CMakeLists.txt
  userspace/libsinsp/sinsp_debug/README.md
  userspace/libsinsp/sinsp_debug/sinsp_debug.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L

#1282 fix(cmake/modules/openssl): fix compilation on aarch64
  cmake/modules/openssl.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libsinsp

#1288 cleanup(libsinsp): add libs g_logger to sinsp-example
  userspace/libsinsp/examples/test.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1287 cleanup(libsinsp): improve evt.hostname docs
  userspace/libsinsp/filterchecks.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1289 cleanup: remove `requirements.txt` file
  .github/workflows/pages.yml
  requirements.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1291 fix(userspace/libsinsp): solve cmake link typo
  userspace/libsinsp/examples/CMakeLists.txt
  userspace/libsinsp/sinsp_debug/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1280 Scoped target_link_libraries() commands for libsinsp
  userspace/libsinsp/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/build, area/libsinsp, size/L

#1295 fix(libsinsp): typo in source_idx_by_plugin_id iterator
  userspace/libsinsp/plugin_manager.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1296 docs(README.VERSION.md): clarify when internal version must not be bumped and general improvements
  driver/README.VERSION.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/API-version

#1297 fix(cmake/modules): make GetVersionFromGit when no git info
  cmake/modules/GetVersionFromGit.cmake
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build

#1293 fix: remove an unused variable in the kmod
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/driver-kmod, area/API-version

#1301 fix(scap): initialize cgroup interface during platform init.
  userspace/libscap/linux/scap_linux_platform.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1256 fix listen syscall backlog field size
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/listen.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_enter_suite/listen_e.cpp
  test/drivers/test_suites/syscall_enter_suite/socketcall_e.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M

#1255 fix umount2 syscall flags type, add conversion helper function
  driver/bpf/fillers.h
  driver/modern_bpf/definitions/missing_definitions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/umount2.bpf.c
  driver/ppm_fillers.c
  driver/ppm_flag_helpers.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M

#1302 cleanup(docs): update readme + include more verbose testing instructions
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/L

#1304 Add fcntl enter arguments to exit event
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/fcntl.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/fcntl_x.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/driver-kmod, area/driver-bpf

#1308 fix(userspace/libsinsp): set a timeout on the curl handle when retrieving docker info
  userspace/libsinsp/container_engine/docker/connection_linux.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1307 cleanup(docs): edit libs page content for technical clarity
  docs/index.md
  docs/matrix.md
  docs/syscalls.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup

#1313 fix(scap): turn on cgroup namespace detection.
  userspace/libscap/linux/scap_linux_platform.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1317 fix(userspace/libscap): avoid possible double free while loading users and groups
  userspace/libscap/linux/scap_userlist.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap
