Repository falcosecurity/libs, pull requests merged in 2023-01, with the labels that each got.

#819 docs(release.md): remove typo
  release.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#818 fix: handle capset_x missing thread_info
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#822 update(build): update openssl to 1.1.1q
  cmake/modules/openssl.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#821 update(docs): updated release document to enforce `release/M.m.x` release branch names
  release.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#828 docs(release-process): update diagram according to the doc
  docs/img/release-process.svg
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#833 fix(userspace/libsinsp): avoid exception failure on unknown k8s node name
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#830 fix(driver/bpf): properly include asm/rwonce, that is sometimes needed.
  driver/bpf/probe.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-bpf

#829 vote: update(OWNERS): add jasondellaluce to approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#831 Align both {set,get}sockopt to be treated equally wrt UF_NEVER_DROP
  driver/syscall_table.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod

#815 fix(sinsp): support rootless podman containers in systemd services
  userspace/libsinsp/container_engine/docker/podman.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#837 Add const_expr_visitor, use it when compiling/cloning/stringing
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filter.h
  userspace/libsinsp/filter/ast.cpp
  userspace/libsinsp/filter/ast.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#836 tests: allow user to pass arguments with a space
  test/drivers/start_tests.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#841 fix: handle unshare_setns_x missing thread_info, chore: thread_info check cleanups
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#842 Sync/release 0.10.2
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#840 fix(cmake): fix bundled GRPC_LIBRARIES order
  cmake/modules/grpc.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#843 fix(readme): minimum kver to build kmod on arm64 is 3.16.
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved

#846 fix(userspace/libscap): fix build with bundled zlib and `-jX` parallel build
  userspace/libscap/engine/noop/CMakeLists.txt
  userspace/libscap/linux/CMakeLists.txt
  userspace/libscap/macos/CMakeLists.txt
  userspace/libscap/win32/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build, area/libscap

#849 fix(tests): `vm_...` extracted from proc are not reliable
  test/drivers/helpers/proc_parsing.cpp
  test/drivers/helpers/proc_parsing.h
  test/drivers/test_suites/generic_tracepoints_suite/sched_switch.cpp
  test/drivers/test_suites/syscall_exit_suite/clone3_x.cpp
  test/drivers/test_suites/syscall_exit_suite/clone_x.cpp
  test/drivers/test_suites/syscall_exit_suite/execve_x.cpp
  test/drivers/test_suites/syscall_exit_suite/execveat_x.cpp
  test/drivers/test_suites/syscall_exit_suite/fork_x.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests

#847 new(ci): added update-syscalls gha.
  .github/workflows/update-syscalls.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M
