Repository falcosecurity/libs, pull requests merged in 2023-07, with the labels that each got.

#1185 new(ci:) add driverkit tests for arm64
  .github/workflows/driverkit.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1190 chore(README.md): add link to the Drivers badge
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#1193 fix(userspace/libsinsp): solve wrong type conversion
  userspace/libsinsp/filterchecks.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1195 fix compiler -Wsign-compare warnings
  userspace/libsinsp/cyclewriter.cpp
  userspace/libsinsp/event.cpp
  userspace/libsinsp/socket_handler.h
  userspace/libsinsp/tuples.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1197 update(cmake,driver): bumped libbpf to latest release (1.2.2).
  cmake/modules/libbpf.cmake
  driver/modern_bpf/helpers/base/common.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/build

#1205 update(cmake): update libcurl to 8.1.0
  cmake/modules/curl.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1206 fix(gvisor): include memory header for smart pointers
  userspace/libscap/engine/gvisor/gvisor_platform.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap-engine-gvisor

#1209 fix(libsinsp): network address printing endianness
  userspace/libsinsp/ifinfo.cpp
  userspace/libsinsp/ifinfo.h
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#1210 fix(bpf): Compile eBPF probe with -Wno-unknown-attributes
  driver/bpf/Makefile
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libscap-engine-bpf

#1213 Remove ALWAYS_DROP setting for setsid system call
  driver/syscall_table.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod

#1214 update(build): update curl to 8.2.0
  cmake/modules/curl.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1216 fix(libscap): consistent SECOND_TO_NS definition
  userspace/libscap/linux/scap_machine_info.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libscap

#1219 new: return ENOTSUP when the modern probe is not supported
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
  userspace/libscap/examples/01-open/scap_open.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#1226 fix(docs): fixed readme link to kenrel_tests workflow.
  README.md
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1229 update(ci/kernel-tests): run kernel tests step by step
  .github/workflows/kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved

#1230 update(ci): bumped kernel_tests to kernel-testing v0.2.0.
  .github/workflows/kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1231 chore(ci): switch kernel_tests repo to falcosecurity org.
  .github/workflows/kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1232 fix(scap): fix platform initalization order (again)
  userspace/libscap/scap.c
  userspace/libscap/scap_platform.c
  userspace/libscap/scap_platform.h
  userspace/libscap/scap_platform_impl.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap

#1234 update(ci): bump kernel-testing to v.2.2
  .github/workflows/kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1237 update(readme): update readme, link to the falco website
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1238 new(ci): add a release-body CI for drivers releases.
  .github/workflows/kernel_tests.yaml
  .github/workflows/release-body.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#1239 fix(ci): fixed release-body workflow to avoid using ed.
  .github/workflows/release-body.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1240 fix(ci): fixed release-body matrixes path.
  .github/workflows/release-body.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1241 fix(ci): force tag_name in release-body workflow.
  .github/workflows/release-body.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1243 fix(ci): match release branches in release-body
  .github/workflows/release-body.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1244 Port ebpf null fix to 0.12.x branch
  driver/modern_bpf/programs/attached/events/signal_deliver.bpf.c
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M

#1245 fix(userspace/libsinsp): make sinsp struct size independent from compilation flags
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1246 fix(userspace/libsinsp): solve ambiguous move casting
  userspace/libsinsp/plugin_table_api.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1247 update(ci): bumped kernel_tests to v0.2.3
  .github/workflows/kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1252 fix(libscap): off-by-one bug in cgroup v1 parser
  userspace/libscap/linux/scap_cgroup.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1261 sync: release 0.12.x
  userspace/libscap/linux/scap_cgroup.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap

#1262 fix(scap): remove unnecessary and harmful strchr(`=`)
  userspace/libscap/linux/scap_cgroup.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap

#1263 sync: release 0.12.x
  userspace/libscap/linux/scap_cgroup.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap

#1264 fix(ci): fixed release-body CI trigger.
  .github/workflows/release-body.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1265 sync: release 0.12.x
  .github/workflows/release-body.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup
