Repository falcosecurity/libs, pull requests merged in 2023-11, with the labels that each got.

#1462 fix: ninja build
  cmake/modules/cares.cmake
  cmake/modules/curl.cmake
  cmake/modules/grpc.cmake
  cmake/modules/jq.cmake
  cmake/modules/jsoncpp.cmake
  cmake/modules/libbpf.cmake
  cmake/modules/libelf.cmake
  cmake/modules/luajit.cmake
  cmake/modules/openssl.cmake
  cmake/modules/protobuf.cmake
  cmake/modules/zlib.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build

#1455 feature(sinsp): expose container engine list.
  userspace/libsinsp/container.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1467 fix: grpc ninja build
  cmake/modules/grpc.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1466 update(driver): manually bumped generic syscalls through syscalls-bumper
  docs/report.md
  driver/SCHEMA_VERSION
  driver/ppm_events_public.h
  driver/syscall_compat_aarch64.h
  driver/syscall_compat_riscv64.h
  driver/syscall_compat_s390x.h
  driver/syscall_compat_x86_64.h
  driver/syscall_ia32_64_map.c
  driver/syscall_table.c
  userspace/libscap/linux/scap_ppm_sc.c
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1479 fix(test): Fix small bugs in send_x and socketcall_x
  test/drivers/test_suites/syscall_exit_suite/send_x.cpp
  test/drivers/test_suites/syscall_exit_suite/socketcall_x.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#1101 update(cmake): Install libraries into CMAKE_INSTALL_LIBDIR
  .github/workflows/ci.yml
  cmake/modules/libscap.cmake
  cmake/modules/libsinsp.cmake
  userspace/libscap/libscap.pc.in
  userspace/libsinsp/libsinsp.pc.in
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build, lifecycle/stale

#1481 cleanup(libsinsp): remove a few more UB warnings from integer copies
  userspace/libsinsp/event.cpp
  userspace/libsinsp/utils.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1483 cleanup(libsinsp): substitute static g_screen_w
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_tracer.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1484 fix(cmake): solve win32 linking issues with zlib
  cmake/modules/zlib.cmake
  userspace/libscap/scap_zlib.h
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/test/CMakeLists.txt
Labels: release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/build

#1488 update(build): upgrade openssl to 3.1.4
  cmake/modules/openssl.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1486 chore(docs): add `ppc64le` arch to architectures badge.
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1491 chore(ci): use syscalls-bumper composite action.
  .github/workflows/update-syscalls.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#1492 update(userspace/libsinsp): add factory method for sinsp_evt from a given scap buffer
  userspace/libsinsp/event.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1499 cleanup(libsinsp): remove unused sinsp_test.cpp
  userspace/libsinsp/sinsp_test.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1500 chore: remove jq dependency
  cmake/modules/jq.cmake
  cmake/modules/libsinsp.cmake
  test/vm/containers/ubuntu2004.Dockerfile
  test/vm/containers/ubuntu2204.Dockerfile
  test/vm/containers/ubuntu2310.Dockerfile
  userspace/libsinsp/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/build, area/libsinsp, size/L

#1506 cleanup(libsinsp): add scanf formats and fixed size variables in stats.cpp
  userspace/libsinsp/stats.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1504 fix(userspace/libsinsp): elems in mpsc queue with same priority follow push order
  userspace/libsinsp/mpsc_priority_queue.h
  userspace/libsinsp/test/mpsc_priority_queue.ut.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#1508 refactor(userspace/libsinsp)!: drop support to protodecoders
  userspace/chisel/chisel_utils.cpp
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/protodecoder.cpp
  userspace/libsinsp/protodecoder.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_syslog.cpp
  userspace/libsinsp/sinsp_filtercheck_syslog.h
  userspace/libsinsp/sinsp_pd_callback_type.h
  userspace/libsinsp/sinsp_syslog.cpp
  userspace/libsinsp/sinsp_syslog.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/utils.cpp
Labels: release-note, dco-signoff: yes, size/XXL, lgtm, approved, kind/cleanup, area/libsinsp

#1510 update(libsinsp/tests): support async event generation from sinsp_with_test_input
  userspace/libsinsp/test/events_injection.ut.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, area/tests, size/L

#1511 fix(libsinsp): return strings in syslog when they may be stack-allocated
  userspace/libsinsp/sinsp_syslog.cpp
  userspace/libsinsp/sinsp_syslog.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1514 fix(tests): return `SCAP_TIMEOUT` instead of an `SCAP_EOF`
  userspace/libscap/engine/test_input/test_input.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#1516 chore: replace library tinydir with std::filesystem
  .github/install-deps.sh
  cmake/modules/libsinsp.cmake
  cmake/modules/tinydir.cmake
  userspace/chisel/chisel.cpp
  userspace/libsinsp/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/build, size/L

#1512 cleanup: params inconsistencies
  driver/bpf/fillers.h
  driver/modern_bpf/helpers/extract/extract_from_kernel.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/flock.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/setns.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/unshare.bpf.c
  driver/ppm_fillers.c
  driver/ppm_flag_helpers.h
  userspace/libscap/engine/gvisor/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/driver-bpf

#1519 build: remove some warning suppressions
  cmake/modules/CompilerFlags.cmake
  test/libscap/test_suites/engines/gvisor/gvisor_parsers.cpp
  userspace/chisel/chisel_viewinfo.cpp
  userspace/chisel/chisel_viewinfo.h
  userspace/libscap/engine/gvisor/gvisor.cpp
  userspace/libscap/engine/gvisor/gvisor.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/gvisor/runsc.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/build, size/L

#1520 fix(libsinsp): fix possible segv in parse_connect_exit + cleanups
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1522 fix(update/drivers): correct `s390x` build break
  test/drivers/test_suites/syscall_exit_suite/recvmsg_x.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/tests

#1525 new(tests): extending the sinsp test framework allowing to link external files
  userspace/libsinsp/test/CMakeLists.txt
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1526 fix(libsinsp): memleak in sinsp_dns_manager
  userspace/libsinsp/dns_manager.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp
