Repository falcosecurity/libs, pull requests merged in 2023-03, with the labels that each got.

#935 fix(scap): don't crash without filter in sinsp-example
  userspace/libsinsp/examples/test.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#923 fix(build): Fix an include path
  userspace/libsinsp/events/sinsp_events_set.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#943 new(driver/modern_bpf): Allow excluding tail-called programs
  driver/modern_bpf/CMakeLists.txt
  userspace/libpman/src/maps.c
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-modern-bpf

#945 update(cmake): upgrade to libtbb v2021.8.0 (fixes building with gcc with warnings as errors)
  cmake/modules/tbb.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build, area/libsinsp

#949 fix(driver): address some minor comments relative to #811
  driver/bpf/plumbing_helpers.h
  driver/modern_bpf/helpers/interfaces/syscalls_dispatcher.h
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/driver-bpf, area/driver-modern-bpf

#951 fix(sinsp): use the right cgroup when detecting rootless podman
  userspace/libsinsp/container_engine/docker/podman.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#948 fix(driver): fixed `PPM_SC_PIDFD_GET_FD` and `PPM_SC_PIDFD_GETFD`.
  driver/ppm_events_public.h
  driver/syscall_table.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#953 test(userspace/libsinsp/test): finish-up ppm_codes filter tests
  userspace/libsinsp/test/filter_ppm_codes.ut.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp, area/tests

#957 cleanup(driver,libscap): revert back breaking change in #948.
  driver/ppm_events_public.h
  userspace/libscap/syscall_info_table.c
  userspace/libsinsp/test/public_sinsp_API/interesting_syscalls.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/driver-kmod, area/driver-bpf, area/libscap, area/driver-modern-bpf

#958 fix(userspace/libsinsp): correct init of m_flags
  userspace/chisel/chisel_table.cpp
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#960 sync: release 0.10.5
  userspace/chisel/chisel_table.cpp
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/filterchecks.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#965 cleanup(ci): split a driverkit workflow from main ci workflow.
  .github/workflows/ci.yml
  .github/workflows/driverkit.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#961 chore(ci): added a ci check for driver schema and api version.
  .github/workflows/driver-api-version.yml
  .github/workflows/driver-schema-version.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#972 fix(gvisor): add int64 literals where necessary (remove undefined behavior)
  userspace/libscap/engine/gvisor/parsers.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libscap-engine-gvisor

#973 new(userspace/libsinsp): add a `num-events` cmd line option to `sinsp-example`
  userspace/libsinsp/examples/README.md
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#983 fix(test): fix memleak in sinsp-example formatters
  userspace/libsinsp/examples/test.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, area/tests

#978 new(tests): add ASan to e2e tests
  .github/workflows/ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#996 fix(driver): avoid `ppm_consumer_t` being defined twice.
  driver/CMakeLists.txt
  driver/ppm.h
  driver/ppm_consumer.h
  driver/ppm_events.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/driver-kmod

#998 update(build): update libcurl to 8.0.1
  cmake/modules/curl.cmake
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#977 chore(ci): properly use `pull_request_target` trigger type for driver api and schema version ci checks
  .github/workflows/driver-api-version.yml
  .github/workflows/driver-schema-version.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#1000 update(cmake): Fix our dependency install patterns
  cmake/modules/re2.cmake
  cmake/modules/tbb.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1007 update(driver): remove UF_ALWAYS_DROP from mmap
  driver/syscall_table.c
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1008 Also save (pointers) to filtercheck values in order
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filterchecks.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1009 Add a const base_expr_visitor
  userspace/libsinsp/filter/ast.cpp
  userspace/libsinsp/filter/ast.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#1017 fix(cmake): included GnuInstallDirs
  cmake/modules/libscap.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libscap
