Repository falcosecurity/libs, pull requests merged in 2023-04, with the labels that each got.

#1024 update(userspace): add an extra checks to clear syscalls
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/kmod/scap_kmod.c
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libscap-engine-bpf, area/libscap-engine-kmod, area/libscap-engine-modern-bpf

#1029 chore(ci): properly set gha concurrencty for CI workflow.
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1033 fix(scap): Use precise boot time for BPF engines
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
  userspace/libscap/scap_engine_util.c
  userspace/libscap/scap_engine_util.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap, area/libscap-engine-bpf, area/libscap-engine-modern-bpf

#1037 cleanup(driver): Use a single table for 32/64-bit syscall definitions
  driver/CMakeLists.txt
  driver/Makefile.in
  driver/main.c
  driver/ppm.h
  driver/ppm_compat_unistd_32.h
  driver/ppm_events_public.h
  driver/ppm_syscall.h
  driver/syscall_table.c
  driver/syscall_table32.c
  driver/syscall_table64.c
  userspace/libscap/CMakeLists.txt
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1036 cleanup(libsinsp): add `ppm_sc_modifies_state` and `ppm_sc_repair_state` flags to sinsp-example
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1005 feat: support for new field types in plugins
  userspace/libsinsp/plugin.cpp
  userspace/libsinsp/plugin.h
  userspace/libsinsp/plugin_filtercheck.cpp
  userspace/plugin/plugin_api.h
  userspace/plugin/plugin_types.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#1050 Add addl(test-only) way to initialize events, setting errorcode
  userspace/libsinsp/event.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1053 new(userspace/libsisnp): support for PT_IPNET type in plugins
  userspace/libsinsp/plugin.h
  userspace/libsinsp/plugin_filtercheck.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1054 cleanup(libsinsp): refactor resource_utilization, adopt scap_stats_v2 schema
  userspace/libscap/scap_stats_v2.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_resource_utilization.cpp
  userspace/libsinsp/sinsp_resource_utilization.h
Labels: release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1061 fix(modern_bpf): Fix connect_x prog
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/connect.bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#1064 fix(tests): use a non-null inspector for filter tests
  userspace/libsinsp/test/filter_compiler.ut.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/tests
