Repository falcosecurity/libs, pull requests merged in 2023-12, with the labels that each got.

#1528 fix(userspace/libsinsp): make sure all destructors are invoked
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container.h
  userspace/libsinsp/event.h
  userspace/libsinsp/eventformatter.cpp
  userspace/libsinsp/eventformatter.h
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filter.h
  userspace/libsinsp/filter_check_list.cpp
  userspace/libsinsp/filter_check_list.h
  userspace/libsinsp/gen_filter.cpp
  userspace/libsinsp/gen_filter.h
  userspace/libsinsp/prefix_search.cpp
  userspace/libsinsp/prefix_search.h
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_filtercheck_event.h
  userspace/libsinsp/sinsp_filtercheck_evtin.cpp
  userspace/libsinsp/sinsp_filtercheck_evtin.h
  userspace/libsinsp/sinsp_filtercheck_gen_event.cpp
  userspace/libsinsp/sinsp_filtercheck_gen_event.h
  userspace/libsinsp/sinsp_filtercheck_tracer.cpp
  userspace/libsinsp/sinsp_filtercheck_tracer.h
  userspace/libsinsp/token_bucket.cpp
  userspace/libsinsp/token_bucket.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1531 fix(chisel): resolve compilation issue on win32
  userspace/chisel/chisel.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1535 fix(userspace/libsinsp): restore support to containers
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1536 fix(userspace/libsinsp): zero-init time before string parsing
  userspace/libsinsp/utils.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1543 fix(test/drivers): correct socketcall SYS_ACCEPT failures on s390x
  test/drivers/test_suites/syscall_enter_suite/socketcall_e.cpp
  test/drivers/test_suites/syscall_exit_suite/socketcall_x.cpp
Labels: kind/bug, kind/failing-test, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1549 fix(ci): fixed update-syscalls syscalls-bumper action version.
  .github/workflows/update-syscalls.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1553 fix: potentially uninitialized variables
  test/libscap/test_suites/engines/gvisor/gvisor_parsers.cpp
  userspace/libscap/engine/gvisor/gvisor.h
  userspace/libscap/engine/gvisor/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1552 fix(libsinsp): Add a CPU count check
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1554 update(libsinsp): Add sinsp_evt::set_num
  userspace/libsinsp/event.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1538 cleanup(driver): unlinkat & linkat flags
  driver/bpf/fillers.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/linkat.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/unlinkat.bpf.c
  driver/ppm_fillers.c
  driver/ppm_flag_helpers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/driver-bpf, area/driver-modern-bpf

#1563 fix(CI): remove `KERNELDIR=` since the default should be enough
  .github/workflows/ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1556 new(test): check `k8s.pod.label` syntax
  userspace/libsinsp/test/filterchecks/k8s.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#1567 fix(CI): partially revert `404e649`
  .github/workflows/ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1564 fix(container/cri-engine): populate labels field for pod sandbox containers
  userspace/libsinsp/cri.h
  userspace/libsinsp/cri.hpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M

#1569 fix(sinsp): avoid a double free when an exception is thrown
  userspace/libscap/scap_platform.c
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/classes/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap, area/libsinsp

#1572 chore(libsinsp): remove redundant semicolon
  userspace/libsinsp/cri.hpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1570 update(libsinsp,libscap): Make our .pc file paths relative
  userspace/libscap/libscap.pc.in
  userspace/libsinsp/libsinsp.pc.in
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap, area/libsinsp

#1574 fix(libsinsp): do not include null terminator in enter event strings
  userspace/libsinsp/event.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1576 chore(cmake): allow user to override GIT_COMMIT from cmake.
  cmake/modules/compute_versions.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1579 cleanup(sinsp): remove unused file
  userspace/libsinsp/procinfo_test.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/tests, size/L

#1581 new(ci): added actuated ssh workflow.
  .github/workflows/ssh.yaml
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1580 update(cmake): Make sure we install our library on Windows
  cmake/modules/re2.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1584 fix(libsinsp): fix -Wreorder warning
  userspace/libsinsp/container.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libsinsp

#1593 fix(libscap,libsinsp): always initialize threadinfo on the stack
  userspace/libscap/linux/scap_procs.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap, area/libsinsp

#1597 fix(userspace/libsinsp): fix resolved PT_FSPATH and PT_FSRELPATH evt params
  userspace/libsinsp/event.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1599 fix(libscap/gvisor): use consistent new/delete functions for gvisor platform
  userspace/libscap/engine/gvisor/gvisor.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libscap-engine-gvisor

#1598 fix(userspace/libsinsp): do not suppress zero ptids
  userspace/libsinsp/sinsp_suppress.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1603 cleanup(libscap/kmod): remove ASSERT(false) on handled errors
  userspace/libscap/engine/kmod/scap_kmod.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap-engine-kmod

#1604 fix(userspace/libsinsp): not report container id as host on failed lookups
  userspace/libsinsp/sinsp_filtercheck_container.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp
