Repository falcosecurity/libs, pull requests merged in 2023-10, with the labels that each got.

#1373 fix(userspace/libscap): fixed ebpf init loop on online CPUs.
  userspace/libpman/src/ringbuffer.c
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/kmod/scap_kmod.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/L, area/libscap-engine-bpf, area/libscap-engine-kmod

#1379 fix(ci): pin semgrep to 1.41.0
  .github/workflows/insecure-api.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1378 new(tests): change meaning to actual `field_exists` test helper
  userspace/libsinsp/test/events_fspath.ut.cpp
  userspace/libsinsp/test/events_net.ut.cpp
  userspace/libsinsp/test/events_plugin.ut.cpp
  userspace/libsinsp/test/events_proc.ut.cpp
  userspace/libsinsp/test/filterchecks/proc.cpp
  userspace/libsinsp/test/plugins.ut.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/tests, size/L

#1383 fix(ci): fixed download matrixes step for pages and relase-body-driver.
  .github/workflows/pages.yml
  .github/workflows/release-body-driver.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1385 fix(ci): fixed download-artifacts for kernel testing matrixes.
  .github/workflows/pages.yml
  .github/workflows/release-body-driver.yml
  .github/workflows/reusable_kernel_tests.yaml
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1389 chore(ci): there is no need to add specific artifact name for kernel testing matrixes
  .github/workflows/pages.yml
  .github/workflows/release-body-driver.yml
  .github/workflows/reusable_kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#1391 build(modern_bpf): relax bpftool version test.
  driver/modern_bpf/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/build, area/driver-modern-bpf

#1392 fix(libsinsp): Add a couple of NULL checks
  userspace/libsinsp/filterchecks.cpp
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1388 cleanup(drivers): driver inconsistencies CHECK_RES
  driver/bpf/fillers.h
  driver/ppm_events.c
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/driver-bpf, area/driver-modern-bpf

#1367 update(ci): Add a build-shared-libs-others-amd64 job
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#1396 fix(libsinsp): Add a NULL check
  userspace/libsinsp/filterchecks.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1398 cleanup(userspace/libsinsp/filterchecks.cpp): remove useless ifndef
  userspace/libsinsp/filterchecks.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1397 cleanup(readme): drop unused badge.
  README.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#1402 fix(scap): map unsupported fd types to SCAP_FD_UNSUPPORTED
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap-engine-savefile

#1405 fix(userspace/libsinsp): make plugin_filtercheck arg parsing more resilient
  userspace/libsinsp/plugin_filtercheck.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L

#1407 fix(driver/bpf): fixed fedora-5.8 bpf verifier.
  driver/bpf/fillers.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-bpf

#1408 chore(ci): allow to specify a fork for kernel-testing framework.
  .github/workflows/reusable_kernel_tests.yaml
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1410 fix: kernel tests ci
  .github/workflows/reusable_kernel_tests.yaml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1413 sync: release 0.13.2
  userspace/libsinsp/plugin_filtercheck.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/L, do-not-merge/hold

#1411 new(driver,docs): bumped syscalls with latest version of syscalls-bumper
  docs/report.md
  driver/SCHEMA_VERSION
  driver/ppm_events_public.h
  driver/syscall_compat_riscv64.h
  driver/syscall_ia32_64_map.c
  driver/syscall_table.c
  userspace/libscap/linux/scap_ppm_sc.c
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1416 fix(userspace/libscap): use %lu for uint64 as modifier
  userspace/libscap/linux/scap_procs.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1418 fix(userspace/libscap): ensure scap_get_fdlist can return SCAP_SUCCESS
  userspace/libscap/scap_platform_api.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1414 fix(userspace/libsinsp): make plugin formatter work again
  userspace/libsinsp/plugin_filtercheck.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1421 fix(libscap/engines): move some checks in `start_capture`
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/kmod/scap_kmod.c
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libscap-engine-bpf, area/libscap-engine-kmod, area/libscap-engine-modern-bpf

#1404 fix(modern): perform an exact check on `BPF_TRACE_RAW_TP` attach type
  userspace/libpman/src/configuration.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/L, area/libscap-engine-modern-bpf

#1425 test(sinsp): add support for cgroups in clone and execve events
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests

#1423 fix(userspace/libsinsp): avoid a possible source of segfault in sinsp::next
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#1426 update(userspace/libsinsp): lower log severity for failed scap_get_fd…
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1432 fix(userspace/libsinsp): solve user resolution issues with musl
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/test/user.ut.cpp
  userspace/libsinsp/user.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#1436 docs: fix comment on user list function
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1435 cleanup(driver): create consistencies (syscall_arg_t)
  driver/ppm.h
  driver/ppm_events.c
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup

#1434 cleanup(driver/ppm_fillers.c): create consistencies (s32 to int32_t)
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, size/L

#1441 fix(driver): move declarations before code
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod

#1443 cleanup(driver/ppm_events.c): create consistencies(all integer types)
  driver/ppm_events.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/driver-kmod, size/L

#1437 cleanup(driver/ppm_fillers.c): create consistencies (u16 to uint16_t)
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/driver-kmod

#1444 fix(libsinsp): ignore maybe-uninitialized for valijson
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libsinsp

#1445 cleanup(driver/ppm_fillers.c): resolve inconsistent integer types
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/driver-kmod, size/L

#1449 fix(userspace/libscap): initialize bpf_engine.m_attached_progs.efd to -1
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap-engine-bpf

#1450 sync: release 0.13.4
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup

#1451 fix(userspace/libscap): fix memleak in scap_linux_get_fdlist
  userspace/libscap/linux/scap_procs.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1456 docs(libscap): fix comment for file descriptor list reader function
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1457 fix(sinsp): don't free scap_threadinfo/scap_fdinfo in proc callback
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp
