Repository falcosecurity/libs, pull requests merged in 2023-09, with the labels that each got.

#1319 chore: enforce `b64` include at every cmake build
  cmake/modules/b64.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1321 chore(build): update OpenSSL to 3.1.2
  cmake/modules/openssl.cmake
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#1323 chore(build): update libelf to 0.189
  cmake/modules/libelf.cmake
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#1329 fix(libscap,libsinsp): correctly manage pidfd in scapfiles
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libscap/linux/scap_fds.c
  userspace/libscap/scap_savefile.c
  userspace/libsinsp/event.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap, area/libsinsp

#1332 fix(sinsp): disable get_cwd assert, it breaks tests with non-live platforms
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1331 fix(scap): don't use generic platform for nodriver full proc scan
  userspace/libscap/scap.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#1334 update(libsinsp): Make sinsp::fseek public
  userspace/libsinsp/sinsp.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1340 chore(ci): enforce bundled deps generated binary (sinsp-example) to be as static as possible
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#1341 fix(kmod): safer ppm_get_mm_exe_file
  driver/ppm_fillers.c
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved

#1345 docs: add LICENSE
  LICENSE
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/L

#1350 fix(ci): properly skip release-body workflow in non-drivers tags.
  .github/workflows/release-body.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#1352 fix(ci): fixed release-body double quoted string usage.
  .github/workflows/release-body.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1353 sync: release 0.13.x
  .github/workflows/release-body.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#1354 fix(libsinsp): Don't loop forever on container api
  userspace/libsinsp/container_engine/docker/async_source.cpp
  userspace/libsinsp/container_engine/docker/connection.h
  userspace/libsinsp/container_engine/docker/connection_linux.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1357 sync: release 0.13.x
  userspace/libsinsp/container_engine/docker/async_source.cpp
  userspace/libsinsp/container_engine/docker/connection.h
  userspace/libsinsp/container_engine/docker/connection_linux.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup

#1363 fix(scap): remove the trailing slash when traversing cgroups
  test/libscap/CMakeLists.txt
  test/libscap/test_suites/userspace/linux/scap_cgroup.cpp
  userspace/libscap/linux/scap_cgroup.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libscap, size/L

#1356 cleanup!: remove `ppm_syscall.h` file from drivers
  driver/CMakeLists.txt
  driver/main.c
  driver/ppm.h
  driver/ppm_events.c
  driver/ppm_fillers.c
  driver/ppm_syscall.h
Labels: release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/build, area/driver-kmod, size/L

#1338 fix(cmake): Make some dependency scopes private
  userspace/libsinsp/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build, area/libsinsp
