Repository falcosecurity/libs, pull requests merged in 2023-06, with the labels that each got.

#1090 new(ci): build latest mainline kernel (even RC!) in latest-kernel job.
  .github/workflows/latest-kernel.yml
  README.md
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#1135 update: Remove drivers_test build warnings.
  test/drivers/test_suites/syscall_exit_suite/execve_x.cpp
  test/drivers/test_suites/syscall_exit_suite/execveat_x.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/tests

#1133 chore(driver): avoid useless structure copy in syscall_enter/exit_probe.
  driver/main.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/driver-kmod

#1137 cleanup(ci): improve latest-kernel workflow.
  .github/workflows/latest-kernel.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1140 chore: sync release branch `0.11.x`
  userspace/libsinsp/plugin_table_api.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1141 docs(README.md): add scope and status badges
  README.md
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1144 fix(userspace/libsinsp): set filtercheck list desturctor as virtual
  userspace/libsinsp/filter_check_list.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1143 fix(userspace/libsinsp): set filtercheck list desturctor as virtual
  userspace/libsinsp/filter_check_list.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1146 chore(driver): avoid static_assert event_table size while building kmod.
  driver/event_table.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/driver-kmod

#1148 fix(userspace): bump `RLIMIT_MEMLOCK` in any case
  userspace/libpman/src/configuration.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-modern-bpf

#1152 fix(driver): remove useless include which causes compilation issues on Centos6
  driver/socketcall_to_syscall.c
  driver/syscall_table32.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod

#1056 tests(driver): add some test to `clone3` to check ptid and flags value
  test/drivers/test_suites/generic_tracepoints_suite/sched_process_fork.cpp
  test/drivers/test_suites/syscall_exit_suite/clone3_x.cpp
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1160 fix: introduce a COS workaround to fix regression #1157
  driver/modern_bpf/CMakeLists.txt
  driver/modern_bpf/helpers/extract/extract_from_kernel.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-modern-bpf

#1165 Load missing exe_from_memfd file from savefile
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-savefile

#1166 fix(sinsp): don't call openat parser for fchmod
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1169 update(cmake/modules): bump openssl to 1.1.1u
  cmake/modules/openssl.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libsinsp

#1168 fix(libsinsp): check return value from enter event retrieval.
  userspace/libsinsp/event.cpp
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1161 cleanup(build): replace CMD_MAKE with CMAKE_MAKE_PROGRAM
  cmake/modules/CompilerFlags.cmake
  cmake/modules/b64.cmake
  cmake/modules/cares.cmake
  cmake/modules/curl.cmake
  cmake/modules/grpc.cmake
  cmake/modules/jq.cmake
  cmake/modules/libbpf.cmake
  cmake/modules/libelf.cmake
  cmake/modules/luajit.cmake
  cmake/modules/openssl.cmake
  cmake/modules/protobuf.cmake
  cmake/modules/zlib.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/build

#1173 fix(driver/modern-bpf): improve CO-RE detection
  driver/modern_bpf/helpers/extract/extract_from_kernel.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#1172 cleanup(scap): Remove SunOS support
  driver/ppm_events_public.h
  userspace/libscap/CMakeLists.txt
  userspace/libscap/engine/savefile/savefile.h
  userspace/libscap/scap.h
  userspace/libscap/scap_savefile.h
  userspace/plugin/plugin_types.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/build, area/libscap

#1131 new(proposals): driver kernel testing framework
  proposals/20230530-driver-kernel-testing-framework.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XL, area/proposals, kind/design

#1180 new: add `third_party` in gitignore
  .gitignore
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1184 chore(docs): add support status for architectures.
  README.md
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup
