Repository falcosecurity/libs, pull requests merged in 2024-12, with the labels that each got.

#2180 cleanup(sinsp): remove some duplicated code
  userspace/libsinsp/sinsp_filtercheck_event.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2181 new(tests): introduce a new test helper
  userspace/libsinsp/test/filterchecks/evt.cpp
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/tests

#2179 new(userspace/libsinsp): support plugins in sinsp-example.
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L

#2184 update(tests): fix emscripten build
  userspace/libsinsp/test/filterchecks/evt.cpp
Labels: kind/failing-test, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#2185 new(sinsp-example): add gvisor support
  userspace/libscap/engine/gvisor/CMakeLists.txt
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2186 cleanup: remove some extra code
  test/libscap/test_suites/userspace/event_table.cpp
  userspace/libsinsp/event.h
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2188 chore: fix windows build
  userspace/libscap/engine/savefile/converter/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2190 fix(userspace/libsinsp): always initialize sinsp_evt with a proper source_idx and source_name
  userspace/libsinsp/event.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2191 cleanup(userspace/libsinsp): drop sinsp `m_suppressed_comms` unused field
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2196 feat(sinsp/threadinfo): expose thread uid and gid as static fields
  userspace/libsinsp/test/state.ut.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2169 chore: update pre-commit stages
  .pre-commit-config.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#2197 fix(userspace/libsinsp): use `comm` file instead of `status` to get proc comm
  userspace/libscap/linux/scap_procs.c
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libscap

#2201 fix: some issues with Clang 18
  CMakePresets.json
  test/drivers/test_suites/syscall_exit_suite/getcwd_x.cpp
  test/drivers/test_suites/syscall_exit_suite/readv_x.cpp
  userspace/libscap/linux/scap_cgroup.c
  userspace/libsinsp/filter_check_list.cpp
  userspace/libsinsp/filter_check_list.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/build

#2199 cleanup(build): move NOMINMAX definition at compile time for windows builds
  cmake/modules/CompilerFlags.cmake
  userspace/libscap/scap_print_event.c
  userspace/libsinsp/event.cpp
  userspace/libsinsp/filter_compare.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp_inet.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build

#2203 chore(ci): fix shared-libs and emscripten CI
  .github/workflows/ci.yml
Labels: kind/failing-test, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#2194 chore(userspace/libsinsp): move user group manager on container_id changed refresh to a RAII object
  userspace/libsinsp/dumper.cpp
  userspace/libsinsp/event.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/test/filterchecks/evt.cpp
  userspace/libsinsp/test/filterchecks/user.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/user.cpp
  userspace/libsinsp/user.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2205 new(driver): update exit events `PPME_SOCKET_BIND_X` with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/bind.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/bind_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/events_net.ut.cpp
  userspace/libsinsp/test/parsers/parse_connect.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-gvisor

#2206 new(driver): update exit events `PPME_SOCKET_SOCKET_X` with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/socket.bpf.c
  driver/ppm_fillers.c
  driver/ppm_flag_helpers.h
  test/drivers/test_suites/syscall_exit_suite/socket_x.cpp
  test/e2e/tests/test_network/test_network.py
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/events_net.ut.cpp
  userspace/libsinsp/test/events_param.ut.cpp
  userspace/libsinsp/test/filter_op_net_compare.ut.cpp
  userspace/libsinsp/test/filter_transformer.ut.cpp
  userspace/libsinsp/test/filterchecks/mock.cpp
  userspace/libsinsp/test/filterchecks/proc.cpp
  userspace/libsinsp/test/parsers/parse_connect.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, area/driver-modern-bpf, area/libscap-engine-gvisor

#2208 new: extend LISTEN_X
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/listen.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/listen_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/events_net.ut.cpp
  userspace/libsinsp/test/parsers/parse_listen.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-gvisor

#2209 fix(ci): run apt-get update in coverage ci.
  .github/workflows/test_coverage_ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#2211 new: make `ACCEPT_{E,X}` and `ACCEPT_5_E` converter-managed
  driver/event_table.c
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap_event.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap, area/tests, area/libscap-engine-savefile

#2213 cleanup(libsinsp): remove assert that may trigger under normal circumstances
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2212 fix(userspace/libsinsp): keep event thread after execve
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp
