Repository falcosecurity/libs, pull requests merged in 2024-04, with the labels that each got.

#1774 update(build): update libcurl to 8.7.1
  cmake/modules/curl.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1777 fix(gvisor): fix duplicated command names
  test/libscap/test_suites/engines/gvisor/gvisor_parsers.cpp
  userspace/libscap/engine/gvisor/parsers.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libscap-engine-gvisor

#1781 fix(userspace/libsinsp): solve formatts being cropped with fd.types
  userspace/libsinsp/sinsp_filtercheck_fd.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1782 fix(tests/gvisor): fix build and sanitizer exec in gvisor parser tests
  test/libscap/test_suites/engines/gvisor/gvisor_parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests

#1786 fix(cmake/modules/re2): fix configure issue on cmake >=3.29.1
  cmake/modules/re2.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build

#1783 fix(libsinsp_e2e): make forking_clone_fs more reliable
  test/libsinsp_e2e/forking.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1788 fix(cmake/modules/re2): use sed compatible syntax w/ macos
  cmake/modules/re2.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1790 fix(userspace): remove some wrong asserts
  userspace/libscap/linux/scap_fds.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1779 Reviewing and enhancing fields inline documentation [1/N] (`proc.*`)
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1792 refactor(libsinsp): better clarify filtercheck subclass extracting only one value
  userspace/libsinsp/sinsp_filtercheck.cpp
  userspace/libsinsp/sinsp_filtercheck.h
  userspace/libsinsp/sinsp_filtercheck_container.cpp
  userspace/libsinsp/sinsp_filtercheck_container.h
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_event.h
  userspace/libsinsp/sinsp_filtercheck_evtin.cpp
  userspace/libsinsp/sinsp_filtercheck_evtin.h
  userspace/libsinsp/sinsp_filtercheck_fd.cpp
  userspace/libsinsp/sinsp_filtercheck_fd.h
  userspace/libsinsp/sinsp_filtercheck_fdlist.cpp
  userspace/libsinsp/sinsp_filtercheck_fdlist.h
  userspace/libsinsp/sinsp_filtercheck_fspath.cpp
  userspace/libsinsp/sinsp_filtercheck_fspath.h
  userspace/libsinsp/sinsp_filtercheck_gen_event.cpp
  userspace/libsinsp/sinsp_filtercheck_gen_event.h
  userspace/libsinsp/sinsp_filtercheck_group.cpp
  userspace/libsinsp/sinsp_filtercheck_group.h
  userspace/libsinsp/sinsp_filtercheck_k8s.cpp
  userspace/libsinsp/sinsp_filtercheck_k8s.h
  userspace/libsinsp/sinsp_filtercheck_mesos.cpp
  userspace/libsinsp/sinsp_filtercheck_mesos.h
  userspace/libsinsp/sinsp_filtercheck_rawstring.cpp
  userspace/libsinsp/sinsp_filtercheck_rawstring.h
  userspace/libsinsp/sinsp_filtercheck_reference.cpp
  userspace/libsinsp/sinsp_filtercheck_reference.h
  userspace/libsinsp/sinsp_filtercheck_syslog.cpp
  userspace/libsinsp/sinsp_filtercheck_syslog.h
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
  userspace/libsinsp/sinsp_filtercheck_thread.h
  userspace/libsinsp/sinsp_filtercheck_tracer.cpp
  userspace/libsinsp/sinsp_filtercheck_tracer.h
  userspace/libsinsp/sinsp_filtercheck_user.cpp
  userspace/libsinsp/sinsp_filtercheck_user.h
  userspace/libsinsp/sinsp_filtercheck_utils.cpp
  userspace/libsinsp/sinsp_filtercheck_utils.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp, kind/design

#1745 cleanup(userspace/libsinsp): improved sinsp metrics_collector to make it more future proof
  userspace/libsinsp/metrics_collector.cpp
  userspace/libsinsp/test/sinsp_metrics.ut.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#1796 refactor(userspace/libsinsp): improve performance of endswith filter operator
  userspace/libsinsp/sinsp_filtercheck.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1798 fix(userspace/libsinsp): fixed multiple proc related tests variadic arguments types
  userspace/libsinsp/test/events_proc.ut.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1802 fix(libscap): handle NULL scap handle pointer
  userspace/libscap/scap.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libscap, size/L

#1806 fix(driver/modern_bpf): address task_struct has no embedded thread_info
  driver/modern_bpf/helpers/extract/extract_from_kernel.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-modern-bpf

#1765 Split user info
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_filtercheck_group.cpp
  userspace/libsinsp/sinsp_filtercheck_group.h
  userspace/libsinsp/sinsp_filtercheck_user.cpp
  userspace/libsinsp/sinsp_filtercheck_user.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
  userspace/libsinsp/user.cpp
  userspace/libsinsp/user.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L

#1808 fix(e2e_ci): always update apt index
  .github/workflows/e2e_ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1810 cleanup(libsinsp): throw exception for invalid parsed string vectors
  userspace/libsinsp/event.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/sinsp_utils.ut.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1809 cleanup(libscap): Allow retries after encountering SCAP_EOF
  userspace/libscap/engine/savefile/scap_reader_gzfile.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap-engine-savefile

#1813 fix(userspace/libsinsp): properly use `strlen` instead of `sizeof` when assigning user/group string infos
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1811 fix(userspace/libsinsp): properly set successful lookup state when parsing old container json events
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp
