Repository falcosecurity/libs, pull requests merged in 2024-01, with the labels that each got.

#1607 fix(userspace/libscap): scap_log macro
  userspace/libscap/debug_log_helpers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1606 fix(userspace/libsinsp): consistent thread info filtering while dumping
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#1613 Add new cgroup layout for podman
  userspace/libsinsp/container_engine/docker/podman.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1614 chore(ci): bumped rn2md to latest master.
  .github/workflows/release-body-driver.yml
  .github/workflows/release-body-libs.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1617 fix(ci): do not install headers if drivers are not modified
  .github/workflows/drivers_ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1620 fix(libsinsp): modify switch case
  userspace/libsinsp/event.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1619 update(libsinsp): double thread_table_absolute_max_size
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp, kind/design

#1622 fix(driver): add preprocessor guards for oldest 2.6.32 kernels
  driver/socketcall_to_syscall.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M

#1624 fix(pman): missing probe skeleton header file
  driver/modern_bpf/CMakeLists.txt
  userspace/libpman/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build, area/libpman

#1590 build: Improve scap_engine_noop dependency
  userspace/libscap/engine/bpf/CMakeLists.txt
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/modern_bpf/CMakeLists.txt
  userspace/libscap/engine/nodriver/CMakeLists.txt
  userspace/libscap/engine/noop/CMakeLists.txt
  userspace/libscap/engine/savefile/CMakeLists.txt
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libscap/engine/source_plugin/CMakeLists.txt
  userspace/libscap/engine/test_input/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/build, area/libscap-engine-noop

#1592 chore(ci): properly use actuated helper action to install arm64 headers.
  .github/workflows/drivers_ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#1633 refactor(userspace/libsinsp): make tid collision a property of the observer
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_observer.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1635 refactor(userspae/libsinsp): api methods for controlling automatic routines
  userspace/libsinsp/container.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/test/container_engine/container_cache.ut.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
  userspace/libsinsp/user.cpp
  userspace/libsinsp/user.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1638 clenup(userspace/libsinsp)!: remove unused filter compiler flag
  userspace/chisel/chisel_api.cpp
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filter.h
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_filtercheck_container.cpp
  userspace/libsinsp/sinsp_filtercheck_fd.cpp
  userspace/libsinsp/sinsp_filtercheck_fdlist.cpp
  userspace/libsinsp/sinsp_filtercheck_fspath.cpp
  userspace/libsinsp/sinsp_filtercheck_group.cpp
  userspace/libsinsp/sinsp_filtercheck_k8s.cpp
  userspace/libsinsp/sinsp_filtercheck_mesos.cpp
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
  userspace/libsinsp/sinsp_filtercheck_user.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1629 fix(driver): fix potential deadlock
  driver/ppm_fillers.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/driver-kmod

#1642 fix(driver/bpf): decrease limits to support some GKE env
  driver/bpf/fillers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-bpf

#1644 feat(cmake): selectively disable bpf and kmod engines
  cmake/modules/engine_config.cmake
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1645 fix(userspace/libsinsp): revert to old `concatenate_paths` helper funtion for perf reasons
  userspace/libsinsp/test/sinsp_utils.ut.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L

#1648 fix: Clang warning pessimizing move
  userspace/libsinsp/event.cpp
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1646 sync: cherry pick for 0.14.2
  userspace/libsinsp/test/sinsp_utils.ut.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1653 fix(libsinsp): check on requested severity
  userspace/libsinsp/logger.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1655 fix(modern_bpf): fix wrong sign when getting quotactl cmd arg
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/quotactl.bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#1656 fix(modern_bpf): define MAP_RENAME only on powerpc
  driver/modern_bpf/definitions/missing_definitions.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf

#1658 fix(userspace/libsinsp): restore windows build
  userspace/libsinsp/ifinfo.h
  userspace/libsinsp/test/ifinfo.ut.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1664 fix(test/e2e): fixed event-generator cmdline arguments.
  test/e2e/tests/commons/sinspqa/event_generator.py
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests, area/CI

#1663 chore(ci): bumped rn2md to latest master.
  .github/workflows/release-body-driver.yml
  .github/workflows/release-body-libs.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI
