Repository falcosecurity/libs, pull requests merged in 2024-02, with the labels that each got.

#1667 fix(userspace/libsinsp/test): avoid deadlocks in mpsc queue tests
  userspace/libsinsp/test/mpsc_priority_queue.ut.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp, area/tests

#1668 fix(userspace/libsinsp/test): put a bound to threat table max size test
  userspace/libsinsp/test/thread_table.ut.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp, area/tests

#1673 fix(userspace/libsinsp): fix some warnings and failed assertions in debug mode
  userspace/libsinsp/cri.hpp
  userspace/libsinsp/test/plugins.ut.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1670 cleanup(libsinsp): remove CYGWING_AGENT feature gate
  driver/ppm_events_public.h
  userspace/libsinsp/container.h
  userspace/libsinsp/dns_manager.cpp
  userspace/libsinsp/dns_manager.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/dns_manager.ut.cpp
  userspace/libsinsp/utils.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1662 update(cmake): Set our preferred Visual C++ runtime the same way ever…
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/modules/CompilerFlags.cmake
  cmake/modules/jsoncpp.cmake
  cmake/modules/re2.cmake
  cmake/modules/tbb.cmake
  userspace/libsinsp/test/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/build

#1671 cleanup(libsinsp): remove HAS_CAPTURE
  cmake/modules/CompilerFlags.cmake
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container.h
  userspace/libsinsp/container_engine/docker/base.cpp
  userspace/libsinsp/container_engine/rkt.cpp
  userspace/libsinsp/dns_manager.cpp
  userspace/libsinsp/dns_manager.h
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/dns_manager.ut.cpp
  userspace/libsinsp/threadinfo.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup

#1651 refactor(userspace/libsinsp): modularize parse_check and split into different helpers
  userspace/libsinsp/filter/parser.cpp
  userspace/libsinsp/filter/parser.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1631 cleanup(libsinsp): adjust setting max_thread_table_size
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1677 cleanup(libsinsp): cleanup unaligned access in plugin framework+tests
  userspace/libscap/engine/source_plugin/source_plugin.c
  userspace/libscap/scap_event.c
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/plugins/plugin_source.cpp
  userspace/libsinsp/test/plugins/syscall_async.cpp
  userspace/libsinsp/test/plugins/syscall_source.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1679 cleanup(libscap): fix unaligned memory reads
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libscap

#1583 fix(cmake/modules): correct missing includes for libbpf
  cmake/modules/libbpf.cmake
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#1678 cleanup(ci): use new kernel-testing provided composite action.
  .github/workflows/reusable_kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#1683 fix(driver): configure newfstatat with UF_ALWAYS_DROP
  driver/SCHEMA_VERSION
  driver/syscall_table.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#1684 fix(ci): fixed pages workflow.
  .github/workflows/pages.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1688 cleanup(libsinsp): add CT_UNKNOWN as container_type zero value
  userspace/libsinsp/container_engine/sinsp_container_type.h
  userspace/libsinsp/container_info.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1692 fix(libscap): fix memleak by freeing proclist info upon platform close
  userspace/libscap/scap-int.h
  userspace/libscap/scap_platform.c
  userspace/libscap/scap_procs.c
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libscap

#1696 fix(ci): fixed update-syscalls input.
  .github/workflows/update-syscalls.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1695 update(cmake): Use the static CRT on Windows by default
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build, area/CI

#1697 cleanup(libsinsp): remove unused functions from utils.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1685 new(gha): enable UndefinedBehaviorSanitizer
  .github/workflows/ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#1703 cleanup(ci): dropped circleCI.
  .circleci/config.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#1706 cleanup(libsinsp): remove some more misaligned accesses
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/sinsp_filtercheck_event.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1393 Silence missing BPF program error
  userspace/libpman/src/maps.c
  userspace/libpman/src/state.c
  userspace/libpman/src/state.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libpman

#1713 update(cmake): bumped valijson to latest version.
  cmake/modules/valijson.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1710 fix(userspace/libsinsp): make sure fd table's tid is set
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1716 fix(test): improve process_vm_readvX failure test
  test/drivers/test_suites/syscall_exit_suite/process_vm_readv_x.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/tests
