Repository falcosecurity/libs, pull requests merged in 2024-05, with the labels that each got.

#1818 fix(sinsp): set a null terminator instead of throwing an exception
  userspace/libscap/linux/scap_procs.c
  userspace/libsinsp/test/sinsp_utils.ut.cpp
  userspace/libsinsp/utils.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libscap, area/libsinsp

#1821 sync release 0.16.x
  userspace/libscap/linux/scap_procs.c
  userspace/libsinsp/test/sinsp_utils.ut.cpp
  userspace/libsinsp/utils.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap, area/libsinsp

#1823 fix(ci): fixed release-body-driver workflow.
  .github/workflows/release-body-driver.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1830 fix(userspace/libsinsp): make sure simple sinsp wrapper methods are inlined
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1834 fix(libsinsp): avoid unintented copies
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/user.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1835 refactor: smart pointer usage
  test/drivers/test_suites/syscall_exit_suite/fork_x.cpp
  userspace/libsinsp/container_engine/docker/podman.cpp
  userspace/libsinsp/container_engine/docker/podman.h
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/filter.h
  userspace/libsinsp/mpsc_priority_queue.h
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
  userspace/libsinsp/test/filter_compiler.ut.cpp
  userspace/libsinsp/test/filterchecks/mock.cpp
  userspace/libsinsp/test/helpers/scoped_pipe.cpp
  userspace/libsinsp/test/mpsc_priority_queue.ut.cpp
  userspace/libsinsp/test/plugins.ut.cpp
  userspace/libsinsp/test/state.ut.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, size/L

#1833 fix(userspace/libsinsp): remove wrong ASSERTs
  userspace/libsinsp/event.cpp
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/logger.cpp
  userspace/libsinsp/sinsp_filtercheck.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp, area/tests

#1836 refactor: unique_ptr to arrays
  userspace/libsinsp/event.h
  userspace/libsinsp/sinsp.cpp
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1837 refactor: use C++ std lib for sinsp::get_file_size
  userspace/libsinsp/sinsp.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1838 refactor(userspace/libsinsp): minor changes in state API, expose new threadinfo fields
  userspace/libsinsp/plugin_table_api.cpp
  userspace/libsinsp/state/dynamic_struct.h
  userspace/libsinsp/state/static_struct.h
  userspace/libsinsp/state/table.h
  userspace/libsinsp/state/type_info.h
  userspace/libsinsp/test/plugins.ut.cpp
  userspace/libsinsp/test/state.ut.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#1844 new(scap-open): add stats for syscalls received in userspace
  userspace/libscap/examples/01-open/scap_open.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/L

#1845 fix(libpman): manage discarded events
  userspace/libpman/src/ringbuffer.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libpman

#1854 fix(userspace/libsinsp): solve a bunch of bugs in the filter checks area
  userspace/libsinsp/filter.cpp
  userspace/libsinsp/sinsp_filtercheck.cpp
  userspace/libsinsp/state/dynamic_struct.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#1853 cleanup(libsinsp): remove unused member from threadinfo
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1859 fix(ci): fixed drivers_ci `if` condition for kernel headers install steps
  .github/workflows/drivers_ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1852 new(test): add a test for a bind with unix socket
  userspace/libsinsp/test/parsers/parse_connect.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1863 chore(test/e2e): redirect stderr to stdout.
  test/e2e/tests/conftest.py
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/tests

#1864 fix(sinsp): remove wrong unix parsing logic
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1815 new(libsinsp): async event queue capacity setter
  userspace/libsinsp/mpsc_priority_queue.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved

#1866 update(userspace/libsinsp): expose file descriptors as state subtable fields compatible with plugins
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/test/plugins.ut.cpp
  userspace/libsinsp/test/plugins/syscall_subtables.cpp
  userspace/libsinsp/test/plugins/syscall_tables.cpp
  userspace/libsinsp/test/plugins/test_plugins.h
  userspace/libsinsp/test/state.ut.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, size/XXL, lgtm, approved, area/libsinsp

#1872 test(drivers): add some tests for ia32 syscalls
  test/drivers/CMakeLists.txt
  test/drivers/helpers/ia32.c
  test/drivers/test_suites/actions_suite/ia32.cpp.in
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/tests, size/XL

#1873 fix(driver/configure): properly pass `CC` variable as make argument.
  driver/configure/build.sh
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod

#1874 fix(driver/bpf): fixed old bpf probe with clang-18.
  driver/bpf/fillers.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-bpf

#1880 fix(userspace/libsinsp): fixed possible buffer overflow in `sinsp_plugin::get_metrics`
  userspace/libsinsp/plugin.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1879 new(userspace/libsinsp): support lxc 4.0 cgroup layout.
  userspace/libsinsp/container_engine/lxc.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#1883 doc(driver): fix some comments
  driver/modern_bpf/helpers/store/auxmap_store_params.h
  test/drivers/event_class/event_class.cpp
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS
