Repository falcosecurity/libs, pull requests merged in 2024-07, with the labels that each got.

#1941 chore(libsinsp): fix unused value for fscanf
  userspace/libsinsp/metrics_collector.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1942 fix(libsinsp): fix crash in string transformers when called on an empty string
  userspace/libsinsp/sinsp_filter_transformer.cpp
  userspace/libsinsp/test/filter_transformer.ut.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#1943 new(libsinsp): add basename() string transformer
  userspace/libsinsp/filter/parser.cpp
  userspace/libsinsp/filter/parser.h
  userspace/libsinsp/sinsp_filter_transformer.cpp
  userspace/libsinsp/sinsp_filter_transformer.h
  userspace/libsinsp/test/filter_parser.ut.cpp
  userspace/libsinsp/test/filter_transformer.ut.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#1945 fix(libsinsp): use size_type in basename transformer
  userspace/libsinsp/sinsp_filter_transformer.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#1884 fix(driver): fix build of kmod on linux 6.10.
  driver/main.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod

#1953 fix(userspace/libsinsp): solve issues with negate comparisons on ip and ipnet checks
  userspace/libsinsp/filter/ast.h
  userspace/libsinsp/filter_compare.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#1957 chore(cmake/modules): bump zlib to 1.3.1
  cmake/modules/zlib.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1959 fix(driver/bpf): close maps on cleanup
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap-engine-bpf

#1966 new(ci): add libsinsp unit test code coverage
  .github/workflows/test_coverage_ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#1967 cleanup(ci): pin deps to hashes
  .github/workflows/ci.yml
  .github/workflows/create-comment-kernel-testing.yml
  .github/workflows/create-comment-perf.yml
  .github/workflows/drivers_ci.yml
  .github/workflows/e2e_ci.yml
  .github/workflows/perf.yml
  .github/workflows/reusable_kernel_tests.yaml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/CI

#1968 fix(ci): introduce "libsinsp" component for test coverage
  .github/workflows/test_coverage_ci.yml
  codecov.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1970 fix(ci): use semver tag version for kernel-testing action.
  .github/workflows/reusable_kernel_tests.yaml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#1971 fix(libsinsp): fix Falco compilation error on libsinsp_metrics::set_metric_value
  userspace/libsinsp/metrics_collector.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1973 fix(libsinsp): pass shared_ptr by reference
  userspace/libsinsp/sinsp.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1962 fix(libsinsp): optimize sinsp_split, modify set_env/args
  userspace/libsinsp/event.h
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/test/sinsp_utils.ut.cpp
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#1979 update(cmake): Use the correct zlib debug library name on Windows
  cmake/modules/zlib.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#1980 update(ci): Build more jobs in parallel
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI
