Repository falcosecurity/libs, pull requests merged in 2024-03, with the labels that each got.

#1718 fix: Some warnings when compiling with GCC 14
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libscap/engine/test_input/test_input_platform.c
  userspace/libscap/linux/scap_linux_platform.c
  userspace/libscap/ringbuffer/devset.c
  userspace/libscap/scap_platform.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build

#1722 cleanup(libsinsp): scap_evt cleanups
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container.h
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1725 fix(driver): use configure system to build class_create with a single parameter
  driver/configure/CLASS_CREATE_1/test.c
  driver/main.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/M, area/driver-kmod

#1727 new(libsinsp/test): add new async_key_value_source tests
  userspace/libsinsp/test/async_key_value_source.ut.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/tests, size/XL

#1731 fix(build): replace {0} zero-init with {}
  test/drivers/helpers/file_opener.cpp
  test/drivers/helpers/file_opener.h
  test/drivers/start_tests.cpp
  test/drivers/test_suites/actions_suite/dynamic_snaplen.cpp
  test/drivers/test_suites/generic_tracepoints_suite/sched_process_exit.cpp
  test/drivers/test_suites/generic_tracepoints_suite/sched_switch.cpp
  test/drivers/test_suites/syscall_enter_suite/bpf_e.cpp
  test/drivers/test_suites/syscall_enter_suite/clone3_e.cpp
  test/drivers/test_suites/syscall_enter_suite/fstat_e.cpp
  test/drivers/test_suites/syscall_enter_suite/ioctl_e.cpp
  test/drivers/test_suites/syscall_enter_suite/lstat_e.cpp
  test/drivers/test_suites/syscall_enter_suite/poll_e.cpp
  test/drivers/test_suites/syscall_enter_suite/ppoll_e.cpp
  test/drivers/test_suites/syscall_enter_suite/quotactl_e.cpp
  test/drivers/test_suites/syscall_enter_suite/sendmsg_e.cpp
  test/drivers/test_suites/syscall_enter_suite/sendto_e.cpp
  test/drivers/test_suites/syscall_enter_suite/socket_e.cpp
  test/drivers/test_suites/syscall_enter_suite/stat_e.cpp
  test/drivers/test_suites/syscall_exit_suite/accept4_x.cpp
  test/drivers/test_suites/syscall_exit_suite/accept_x.cpp
  test/drivers/test_suites/syscall_exit_suite/bpf_x.cpp
  test/drivers/test_suites/syscall_exit_suite/capset_x.cpp
  test/drivers/test_suites/syscall_exit_suite/clone3_x.cpp
  test/drivers/test_suites/syscall_exit_suite/clone_x.cpp
  test/drivers/test_suites/syscall_exit_suite/execve_x.cpp
  test/drivers/test_suites/syscall_exit_suite/execveat_x.cpp
  test/drivers/test_suites/syscall_exit_suite/fork_x.cpp
  test/drivers/test_suites/syscall_exit_suite/fstat_x.cpp
  test/drivers/test_suites/syscall_exit_suite/getrlimit_x.cpp
  test/drivers/test_suites/syscall_exit_suite/getsockopt_x.cpp
  test/drivers/test_suites/syscall_exit_suite/io_uring_setup_x.cpp
  test/drivers/test_suites/syscall_exit_suite/ioctl_x.cpp
  test/drivers/test_suites/syscall_exit_suite/lstat_x.cpp
  test/drivers/test_suites/syscall_exit_suite/prctl_x.cpp
  test/drivers/test_suites/syscall_exit_suite/quotactl_x.cpp
  test/drivers/test_suites/syscall_exit_suite/recvfrom_x.cpp
  test/drivers/test_suites/syscall_exit_suite/recvmsg_x.cpp
  test/drivers/test_suites/syscall_exit_suite/semop_x.cpp
  test/drivers/test_suites/syscall_exit_suite/sendmsg_x.cpp
  test/drivers/test_suites/syscall_exit_suite/sendto_x.cpp
  test/drivers/test_suites/syscall_exit_suite/setsockopt_x.cpp
  test/drivers/test_suites/syscall_exit_suite/socket_x.cpp
  test/drivers/test_suites/syscall_exit_suite/stat_x.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/build, size/XL

#1728 fix(driver): properly use DRIVER_KMOD_COMPONENT_NAME when installing kmod configure modules
  driver/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod

#1735 fix(userspace/libsinsp): field lists are hidden by mistake
  userspace/libsinsp/sinsp_filtercheck.h
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_evtin.cpp
  userspace/libsinsp/sinsp_filtercheck_gen_event.cpp
  userspace/libsinsp/sinsp_filtercheck_rawstring.cpp
  userspace/libsinsp/sinsp_filtercheck_reference.cpp
  userspace/libsinsp/sinsp_filtercheck_syslog.cpp
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
  userspace/libsinsp/sinsp_filtercheck_tracer.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#1736 fix(test/driver): fix process_vm_readv concurrency
  test/drivers/test_suites/syscall_exit_suite/process_vm_readv_x.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1732 fix(plugins): make list_fields return a const pointer
  userspace/libsinsp/plugin_table_api.cpp
  userspace/libsinsp/test/plugins/sample_table.h
  userspace/plugin/plugin_api.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#1734 fix(driver): properly pass KBUILD_MODPOST_WARN env variable to configure makefile if set
  driver/configure/Makefile.inc.in
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/driver-kmod

#1738 fix(libsinsp): avoid setting a null event pointer when returning SCAP…
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1742 fix: missing cstdint include to fix build on Alpine
  userspace/libsinsp/procfs_utils.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#1744 chore(ci): enable chisels on win32 build
  .github/workflows/ci.yml
  cmake/modules/luajit.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1746 fix(driver): CC variable for debian
  driver/configure/Makefile.inc.in
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1749 fix(driver/bpf): KBUILD_CPPFLAGS
  driver/bpf/Makefile
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M

#1751 sync(release/0.15.x): cherry-pick c6715dd3e86968c85c6282af54975322cd8979ea
  driver/bpf/Makefile
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup

#1752 fix(libpman): fix compilation issue with -Werror
  userspace/libpman/src/stats.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libpman

#1748 Revert "update(sinsp): implement suppressed tid cache in sinsp_suppress"
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp_suppress.cpp
  userspace/libsinsp/sinsp_suppress.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#1756 chore(ci): libsinsp e2e CI caching
  .github/workflows/e2e_ci.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/CI

#1762 fix(driver/modern_bpf): avoid type confusion setting snaplen
  driver/SCHEMA_VERSION
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/pwrite64.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/send.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/sendto.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/write.bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/driver-modern-bpf

#1766 fix(build): use ENABLE_COVERAGE for coverage, fix segfault
  CMakeLists.txt
  cmake/modules/CompilerFlags.cmake
  test/libscap/CMakeLists.txt
  userspace/libsinsp/test/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/build

#1763 feat(tests): new e2e tests [4/N]
  test/libsinsp_e2e/CMakeLists.txt
  test/libsinsp_e2e/event_capture.cpp
  test/libsinsp_e2e/fs.cpp
  test/libsinsp_e2e/process.cpp
  test/libsinsp_e2e/threadinfo.cpp
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/tests

#1772 fix(driver/bpf) honor CLANG and LLC from the env
  driver/bpf/configure/Makefile.inc.in
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/driver-bpf
