Repository falcosecurity/libs, pull requests merged in 2024-08, with the labels that each got.

#1985 sync: release 0.17.x
  driver/main.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/driver-kmod

#1988 sync: release 0.17.x
  userspace/libsinsp/test/plugins/metrics.cpp
  userspace/libsinsp/test/plugins/plugin_extract.cpp
  userspace/libsinsp/test/plugins/plugin_source.cpp
  userspace/libsinsp/test/plugins/syscall_async.cpp
  userspace/libsinsp/test/plugins/syscall_extract.cpp
  userspace/libsinsp/test/plugins/syscall_parse.cpp
  userspace/libsinsp/test/plugins/syscall_source.cpp
  userspace/libsinsp/test/plugins/syscall_subtables.cpp
  userspace/libsinsp/test/plugins/syscall_subtables_array.cpp
  userspace/libsinsp/test/plugins/syscall_tables.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/tests, size/XL

#1989 tests(sinsp): Fix infer_defaults_to_first_non_loopback TC
  userspace/libsinsp/test/ifinfo.ut.cpp
Labels: kind/failing-test, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#1990 cleanup(libsinsp): update g_invalidchar for windows
  userspace/libsinsp/utils.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#1972 cleanup(libsinsp): remove unreachable code
  userspace/libsinsp/utils.cpp
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1991 cleanup(metrics): remove duplicated new_metric method
  userspace/libsinsp/metrics_collector.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#1984 docs(bpf_engine): add some docs and rename some variables
  userspace/libscap/engine/bpf/scap_bpf.h
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libscap-engine-bpf

#1976 fix(libsinsp): add function to set compiler filter and filter string
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1995 update(ci): use codecov flag for libsinsp
  .github/workflows/test_coverage_ci.yml
  codecov.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#1997 new(libscap): dump ringbuffer contents after detecting corruption
  userspace/libscap/CMakeLists.txt
  userspace/libscap/ringbuffer/ringbuffer.h
  userspace/libscap/ringbuffer/ringbuffer_dump.c
  userspace/libscap/ringbuffer/ringbuffer_dump.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libscap, size/XL

#1977 chore(ci): add an empty run for scap file before perf'ing it.
  .github/actions/composite-perf/action.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#1921 FixTheCompatibilityIssueWithCgroupv2
  userspace/libscap/linux/scap_cgroup.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#1999 fix(ci): remove spurious strategy statement
  .github/workflows/ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#1996 cleanup(ci): update semgrep to 1.84.0
  .github/workflows/semgrep_checks.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#2000 fix(driver/kmod): count the right number of events and drops
  driver/main.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-kmod

#2002 new(tests): add a new test for execveat with `AT_EMPTY_PATH`
  test/drivers/test_suites/syscall_exit_suite/execveat_x.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/L

#2010 fix(libscap): fix scap_kmod build with HANDLE() macro
  userspace/libscap/engine/kmod/scap_kmod.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#2015 fix(userspace/libsinsp): explicitly include <cstdint> to fix build with gcc-15
  userspace/libsinsp/filter/ast.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build, area/libsinsp

#2016 cleanup(sinsp): add set_static_container method
  userspace/libsinsp/container.cpp
  userspace/libsinsp/container.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2019 fix(userspace/libsinsp): fixed CO_IN filter crafted value.
  userspace/libsinsp/sinsp_filtercheck.cpp
  userspace/libsinsp/test/filterchecks/proc.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#2020 chore(ci): update kernel-testing related matrix comment if already existent
  .github/workflows/create-comment-kernel-testing.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#1986 chore: add CMakePresets.json file
  CMakePresets.json
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/build

#1907 update(cri): `cri-dockerd` support
  userspace/libsinsp/container_engine/cri.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2026 fix(libsinsp/state): ensure deep copy semantics and proper memory ownership in dynamic structs
  userspace/libsinsp/state/dynamic_struct.h
  userspace/libsinsp/state/table.h
  userspace/libsinsp/state/table_adapters.h
  userspace/libsinsp/test/state.ut.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, area/tests, size/L

#2032 Use absolute path for clang executable in modern_bpf driver
  driver/modern_bpf/CMakeLists.txt
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build, area/driver-modern-bpf
