Repository falcosecurity/libs, pull requests merged in 2025-06, with the labels that each got.

#2417 new(driver): update exit events PPME_SYSCALL_PTRACE_X with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/ptrace.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/ptrace_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/event.h
  userspace/libsinsp/test/CMakeLists.txt
  userspace/libsinsp/test/parsers/parse_ptrace.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
  userspace/libsinsp/test/test_utils.cpp
  userspace/libsinsp/test/test_utils.h
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile

#2439 ci: update bpfvalidator action
  .github/workflows/drivers_ci.yml
  driver/modern_bpf/bpfvalidator_config.yaml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved

#2442 vote: doc(OWNERS): add `ekoops` to approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/proposals

#2446 new(driver): update exit events PPME_SYSCALL_MKDIR_2_X with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/mkdir.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/mkdir_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/CMakeLists.txt
  userspace/libsinsp/test/parsers/parse_mkdir.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile

#2448 test(userspace/libsinsp/scap_files): add `assert_num_event_types()`
  userspace/libsinsp/test/scap_files/converter_tests.cpp
  userspace/libsinsp/test/scap_files/scap_file_test.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, area/tests, size/L, kind/test

#2449 feat: add `PPME_SYSCALL_FUTEX_E` params to `PPME_SYSCALL_FUTEX_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/futex.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/futex_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_futex.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2456 new(driver): update exit events PPME_SYSCALL_SETNS_X with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/setns.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/setns_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/parsers/parse_setns.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile

#2455 feat: add `PPME_SYSCALL_POLL_E` params to `PPME_SYSCALL_POLL_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/poll.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/poll_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_print_event.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2457 chore(libsinsp): avoid repeating getservbyname
  userspace/libsinsp/value_parser.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup

#2458 doc(OWNERS): move incertum (Melissa Kilby) to emeritus_approvers
  OWNERS
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2453 new(driver): update exit events PPME_SYSCALL_FCHDIR_X with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/fchdir.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/fchdir_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/paths.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/CMakeLists.txt
  userspace/libsinsp/test/events_proc.ut.cpp
  userspace/libsinsp/test/parsers/parse_fchdir.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile

#2459 sinsp_evt init cleanup
  userspace/libsinsp/event.h
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2460 new(driver): update exit events PPME_SYSCALL_SETPGID_X with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/setpgid.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_enter_suite/setpgid_e.cpp
  test/drivers/test_suites/syscall_exit_suite/setpgid_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/parsers/parse_setpgid.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile

#2462 fix(test/drivers): ignore `SO_REUSEPORT` setsockopt syscall error
  test/drivers/event_class/event_class.cpp
Labels: kind/failing-test, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests

#2465 fix(driver): remove the EF_MODIFIES_STATE flag from setpgid
  driver/API_VERSION
  driver/event_table.c
  userspace/libsinsp/test/public_sinsp_API/ppm_sc_codes.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp, area/tests, area/API-version

#2464 feat: add `PPME_SYSCALL_IOCTL_3_E` params to `PPME_SYSCALL_IOCTL_3_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/ioctl.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/ioctl_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/parsers/parse_ioctl.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2466 feat: add `PPME_SYSCALL_FSTAT_E` params to `PPME_SYSCALL_FSTAT_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/fstat.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/fstat_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/parsers/parse_fstat.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2473 feat: add `PPME_SYSCALL_BRK_4_E` params to `PPME_SYSCALL_BRK_4_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/brk.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/brk_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_brk.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2472 fix(userspace/libsinsp): avoid clearing host users and groups tables every minute
  userspace/libsinsp/settings.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/user.cpp
  userspace/libsinsp/user.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2480 fix(userspace/libsinsp): remove state handling for `PPM_SYSCALL_MKDIR`
  driver/SCHEMA_VERSION
  driver/event_table.c
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/events_fspath.ut.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp, area/tests, area/libscap-engine-savefile

#2475 feat!: add `PPME_SYSCALL_CLOSE_E` fd param to `PPME_SYSCALL_CLOSE_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/close.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/close_x.cpp
  test/e2e/tests/test_network/test_network.py
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/forking.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/fdtable.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/test/classes/sinsp_observer.cpp
  userspace/libsinsp/test/parsers/parse_close.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile, kind/test

#2487 feat: extend `PPME_SYSCALL_GETDENTS{64}_X` defs with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/getdents.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/getdents64.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/getdents64_x.cpp
  test/drivers/test_suites/syscall_exit_suite/getdents_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/parsers/parse_getdents.cpp
  userspace/libsinsp/test/parsers/parse_getdents64.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2488 feat: add `PPME_SYSCALL_FLOCK_E` params to `PPME_SYSCALL_FLOCK_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/flock.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/flock_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/parsers/parse_flock.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2489 feat: add `PPME_SYSCALL_SEMOP_E` params to `PPME_SYSCALL_SEMOP_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/semop.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_enter_suite/semop_e.cpp
  test/drivers/test_suites/syscall_exit_suite/semop_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_semop.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2490 feat: extend `SEMCTL_X` and `SEMGET_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/semctl.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/semget.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/semctl_x.cpp
  test/drivers/test_suites/syscall_exit_suite/semget_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_semctl.cpp
  userspace/libsinsp/test/parsers/parse_semget.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/tests, area/driver-modern-bpf, kind/test

#2492 feat: add `PPME_SYSCALL_MOUNT_E` params to `PPME_SYSCALL_MOUNT_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/mount.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/mount_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/events_fspath.ut.cpp
  userspace/libsinsp/test/parsers/parse_mount.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2493 feat: add `PPME_SYSCALL_ACCESS_E` params to `PPME_SYSCALL_ACCESS_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/access.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_enter_suite/access_e.cpp
  test/drivers/test_suites/syscall_exit_suite/access_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_access.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2494 feat: add `PPME_SYSCALL_UNSHARE_E` params to `PPME_SYSCALL_UNSHARE_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/unshare.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/unshare_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/test/parsers/parse_unshare.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2495 feat: add `PPME_SYSCALL_SECCOMP_E` params to `PPME_SYSCALL_SECCOMP_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/seccomp.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/seccomp_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_seccomp.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2496 feat: extend `PPME_SYSCALL_MPROTECT_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/mprotect.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/mprotect_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_mprotect.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2500 feat: add `PPME_SYSCALL_UMOUNT2_E` params to `PPME_SYSCALL_UMOUNT2_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/umount2.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/actions_suite/ia32.cpp.in
  test/drivers/test_suites/syscall_exit_suite/umount2_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/events_file.ut.cpp
  userspace/libsinsp/test/events_fspath.ut.cpp
  userspace/libsinsp/test/parsers/parse_umount2.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2503 feat: extend `PPME_SYSCALL_SIGNALFD4_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/signalfd4.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/signalfd4_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/process.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/events_file.ut.cpp
  userspace/libsinsp/test/filterchecks/evt.cpp
  userspace/libsinsp/test/parsers/parse_signalfd4.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2497 fix(driver): cast fds to 32 bits before sending them in dup2 and dup3
  driver/bpf/fillers.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/dup2.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/dup3.bpf.c
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, size/L, area/driver-modern-bpf

#2483 feat(libsinsp): implement timed reset for proc lookup counters
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, area/libsinsp

#2506 feat: extend `PPME_SYSCALL_QUOTACTL_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/quotactl.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_exit_suite/quotactl_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/events_fspath.ut.cpp
  userspace/libsinsp/test/parsers/parse_quotactl.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2508 feat: extend `PPME_SOCKET_ACCEPT4_6_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/accept4.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/accept4_x.cpp
  test/drivers/test_suites/syscall_exit_suite/socketcall_x.cpp
  test/e2e/tests/test_network/test_network.py
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/tcp_client_server.cpp
  test/libsinsp_e2e/tcp_client_server_ipv4_mapped.cpp
  test/libsinsp_e2e/unix_client_server.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/parsers/parse_accept4.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile, kind/test

#2512 feat: extend `PPME_SYSCALL_NANOSLEEP_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/nanosleep.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/nanosleep_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/process.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/parsers/parse_nanosleep.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2513 feat: extend `PPME_SYSCALL_TIMERFD_CREATE_X` with enter parameters
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/timerfd_create.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/timerfd_create_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/test/events_file.ut.cpp
  userspace/libsinsp/test/parsers/parse_timerfd_create.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-savefile, kind/test

#2504 update(cmake): bumped container plugin to 0.3.1.
  cmake/modules/container_plugin.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#2518 test(userpsace/libsinsp): add scap conversion test for `splice_x`
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests, kind/test

#2521 fix(userspace/libsinsp/example): Allow processing scaps with plugins
  userspace/libsinsp/examples/test.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests
