Repository falcosecurity/libs, pull requests merged in 2025-05, with the labels that each got.

#2381 fix(userspace/libsinsp): avoid bogus error in process_recvmsg_ancilla…
  userspace/libscap/linux/scap_fds.c
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2383 feat(userspace/libsinsp)!: drop unused `sinsp_dumper` APIs
  userspace/libsinsp/dumper.cpp
  userspace/libsinsp/dumper.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#2388 fix(test/e2e): properly flush remaining queue once sinsp process leaves.
  test/e2e/tests/commons/sinspqa/sinsp.py
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#2385 feat(userspace/libsinsp)!: remove unused `sinsp_dumper::m_inspector`
  userspace/libsinsp/dumper.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2392 feat(userspace/libs)!: clean some sinsp APIs and replace `NULL` with `nullptr`
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2384 refactor(userspace/libsinsp): cleanup `sinsp_parser::reset()`
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#2394 update(cmake): bumped container plugin to 0.2.2.
  cmake/modules/container_plugin.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#2395 fix(test/e2e): rewrite `assert_events` to avoid ending too soon sinsp-example log matching
  test/e2e/tests/commons/sinspqa/sinsp.py
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/tests

#2393 feat(userspace/libsinsp)!: drop `syslog` support
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/filter_check_list.cpp
  userspace/libsinsp/filterchecks.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_syslog.cpp
  userspace/libsinsp/sinsp_filtercheck_syslog.h
  userspace/libsinsp/sinsp_syslog.cpp
  userspace/libsinsp/sinsp_syslog.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#2387 new(libsinsp): introduce proc.aargs field
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
  userspace/libsinsp/sinsp_filtercheck_thread.h
  userspace/libsinsp/test/events_proc.ut.cpp
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, area/tests, size/L

#2397 chore(driver/modern_bpf): limit `bpf_loop` helper to 16 iterations.
  driver/modern_bpf/helpers/base/shared_size.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/recvmmsg.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/sendmmsg.bpf.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/driver-modern-bpf

#2401 fix(userspace/libscap): avoid a possible read past end of buffer.
  userspace/libscap/engine/source_plugin/source_plugin.c
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-source-plugin

#2409 update(cmake): bump container plugin to 0.2.3.
  cmake/modules/container_plugin.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#2400 refactor(libsinsp): use early return in `handle_plugin_async_event()`
  userspace/libsinsp/sinsp.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2402 feat(userspace/libsinsp)!: remove `sinsp::get_thread_ref()`
  test/libsinsp_e2e/forking.cpp
  test/libsinsp_e2e/fs.cpp
  test/libsinsp_e2e/process.cpp
  test/libsinsp_e2e/suppress_events.cpp
  test/libsinsp_e2e/tcp_client_server_ipv4_mapped.cpp
  test/libsinsp_e2e/thread_state.cpp
  userspace/libsinsp/event.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_filtercheck_thread.cpp
  userspace/libsinsp/test/classes/sinsp_thread_manager.cpp
  userspace/libsinsp/test/classes/sinsp_threadinfo.cpp
  userspace/libsinsp/test/filterchecks/proc.cpp
  userspace/libsinsp/test/helpers/threads_helpers.h
  userspace/libsinsp/test/parsers/parse_brk.cpp
  userspace/libsinsp/test/parsers/parse_clone.cpp
  userspace/libsinsp/test/parsers/parse_connect.cpp
  userspace/libsinsp/test/parsers/parse_execve.cpp
  userspace/libsinsp/test/parsers/parse_prctl.cpp
  userspace/libsinsp/test/parsers/parse_proc_exit.cpp
  userspace/libsinsp/test/parsers/parse_setregid.cpp
  userspace/libsinsp/test/parsers/parse_setreuid.cpp
  userspace/libsinsp/test/scap_files/kexec_arm64/kexec_arm64.cpp
  userspace/libsinsp/test/scap_files/kexec_x86/kexec_x86.cpp
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/test/suppress.ut.cpp
  userspace/libsinsp/test/thread_table.ut.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libscap, area/tests, size/XL, kind/design

#2414 new(driver): update exit events PPME_SYSCALL_SETUID_X with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/setuid.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/setuid_x.cpp
  test/e2e/tests/test_event_generator/test_non_sudo_setuid.py
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/events_user.ut.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf, area/libscap-engine-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile

#2415 feat(userspace/libsinsp/examples): add -c and -A options in example
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#2420 fix(userspace/libscap): avoid field access to possibly NULL struct
  userspace/libscap/scap_event.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#2418 test(sinsp/scap_files): add accept events conversion tests
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp, area/tests

#2426 feat: add `PPME_SOCKET_SHUTDOWN_E` params to `PPME_SOCKET_SHUTDOWN_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/shutdown.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_exit_suite/shutdown_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/L, area/driver-modern-bpf

#2434 feat(userpace/libscap): add printing support for `PT_DYN` parameters
  userspace/libscap/scap_print_event.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#2433 fix(plugin): fix and clarify extract offsets docs/tests
  userspace/libsinsp/test/plugins.ut.cpp
  userspace/libsinsp/test/plugins/plugin_extract.cpp
  userspace/plugin/plugin_api.h
  userspace/plugin/plugin_types.h
Labels: kind/bug, kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/tests, kind/test
