Repository falcosecurity/libs, pull requests merged in 2025-02, with the labels that each got.

#2267 fix(bpf): add tail call to sendmmsg filler
  driver/bpf/fillers.h
  driver/ppm_fillers.h
Labels: kind/bug, dco-signoff: yes, lgtm, approved, size/M, area/libscap-engine-bpf

#2068 new(proposal): disable support for syscall enter events
  proposals/20240901-disable-support-for-syscall-enter-events.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XL, area/proposals, kind/design

#2274 fix(scap): remove a static global from event converter
  test/libscap/test_suites/engines/savefile/convert_event_test.h
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libscap/engine/savefile/converter/converter.h
  userspace/libscap/engine/savefile/savefile.h
  userspace/libscap/engine/savefile/scap_savefile.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libscap, size/L, area/libscap-engine-savefile

#2279 chore(ci): bump actions/cache version to latest.
  .github/actions/install-zig/action.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#2281 fix(driver/bpf): fixed small verifier bug in old bpf probe.
  driver/bpf/fillers.h
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-bpf

#2282 fix(userspace/libpman): fix modern ebpf failures in master kernel-testing
  userspace/libpman/src/lifecycle.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/driver-modern-bpf, area/libpman

#2270 chore(state): add string specialization for built_in_table
  userspace/libpman/src/lifecycle.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2283 new(driver): add sanity check for kmod and ebpf configure systems
  driver/bpf/configure/0__SANITY/test.c
  driver/bpf/configure/Makefile.inc.in
  driver/configure/0__SANITY/test.c
  driver/configure/Makefile.inc.in
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-kmod, area/driver-bpf

#2288 refactor(libsinsp): simplify `set_net_role_by_guessing` in fdinfo
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2290 refactor(libsinsp): improve ifinfo immutability checks and readability
  userspace/libsinsp/ifinfo.cpp
  userspace/libsinsp/ifinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2294 refactor(libsinsp/fdinfo): simplify `lookup_device`
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/fdinfo.h
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#2293 refactor(libsinsp/parser): isolate `sinsp_parser` component
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_fdinfo_factory.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/XL, kind/design
