Repository falcosecurity/libs, pull requests merged in 2025-03, with the labels that each got.

#2295 refactor(libsinsp): split `sinsp_fdtable` and `sinsp_fdinfo`
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/fdinfo.cpp
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/fdtable.cpp
  userspace/libsinsp/fdtable.h
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, kind/design

#2305 build: remove trailing comma in `sinsp-minimal` cmake preset
  CMakePresets.json
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/build

#2308 perf(sinsp/parsers): restructure recvmsg `SCM_RIGHTS` processing
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2309 fix(sinsp/parsers): replace `CMSG_LEN` with custom `PPM_CMSG_LEN`
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2310 chore(userspace/libsinsp): drop useless assert from logger::add_callback_log()
  userspace/libsinsp/logger.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2312 cleanup: Add .DS_Store to .gitignore
  .gitignore
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build

#2313 docs(userspace/libsinsp): add missing licenses
  userspace/libsinsp/sinsp_fdinfo_factory.h
  userspace/libsinsp/sinsp_mode.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#2315 fix(sinsp): restore binary compatibility with pre-3.10 static plugins
  userspace/plugin/plugin_loader.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#2316 feat(userspace/libsinsp)!: unexpose `sinsp`'s `m_input_plugin*`
  userspace/libsinsp/sinsp.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp

#2317 fix(userspace/libsinsp): store input plugin ref in parser
  userspace/libsinsp/parsers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2318 refactor(libsinsp): split threadinfo and thread manager components
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/metrics_collector.h
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
  userspace/libsinsp/thread_group_info.h
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp

#2319 feat(userspace/libsinsp)!: remove `sinsp::build_threadinfo()`
  test/libsinsp_e2e/thread_state.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
  userspace/libsinsp/test/classes/sinsp_thread_manager.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#2321 fix(userspace/libsinsp): ignore malformed recvmsg ancillary data
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2320 refactor(userspace/libsinsp): isolate fdtable and fdinfo from `sinsp`
  test/libsinsp_e2e/threadinfo.cpp
  userspace/libsinsp/fdinfo.h
  userspace/libsinsp/fdtable.cpp
  userspace/libsinsp/fdtable.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_fdtable_factory.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
  userspace/libsinsp/test/classes/sinsp_thread_manager.cpp
  userspace/libsinsp/test/classes/sinsp_threadinfo.cpp
  userspace/libsinsp/test/classes/thread_group_info.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2286 refactor(libscap): use `scap_errprintf` for scap errors handling
  userspace/libscap/CMakeLists.txt
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/gvisor/scap_gvisor.cpp
  userspace/libscap/engine/gvisor/scap_gvisor_platform.cpp
  userspace/libscap/engine/kmod/scap_kmod.c
  userspace/libscap/engine/modern_bpf/CMakeLists.txt
  userspace/libscap/engine/modern_bpf/scap_modern_bpf.c
  userspace/libscap/engine/nodriver/CMakeLists.txt
  userspace/libscap/engine/noop/CMakeLists.txt
  userspace/libscap/engine/noop/noop.c
  userspace/libscap/engine/savefile/CMakeLists.txt
  userspace/libscap/engine/savefile/converter/CMakeLists.txt
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libscap/engine/savefile/savefile.h
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libscap/engine/source_plugin/CMakeLists.txt
  userspace/libscap/engine/source_plugin/source_plugin.c
  userspace/libscap/engine/test_input/CMakeLists.txt
  userspace/libscap/engine/test_input/test_input.c
  userspace/libscap/engine/test_input/test_input_platform.c
  userspace/libscap/linux/scap_fds.c
  userspace/libscap/linux/scap_iflist.c
  userspace/libscap/linux/scap_linux_platform.c
  userspace/libscap/linux/scap_machine_info.c
  userspace/libscap/linux/scap_userlist.c
  userspace/libscap/ringbuffer/devset.c
  userspace/libscap/ringbuffer/ringbuffer.c
  userspace/libscap/ringbuffer/ringbuffer.h
  userspace/libscap/scap.c
  userspace/libscap/scap_event.c
  userspace/libscap/scap_platform_api.c
  userspace/libscap/scap_procs.c
  userspace/libscap/scap_savefile.c
  userspace/libscap/strerror.h
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/libscap, area/libscap-engine-bpf, area/libscap-engine-gvisor, area/libscap-engine-kmod, area/libscap-engine-modern-bpf, area/libscap-engine-nodriver, area/libscap-engine-noop, area/libscap-engine-source-plugin, area/libscap-engine-savefile

#2326 update(cmake): bumped container_plugin.
  cmake/modules/container_plugin.cmake
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/build

#2328 update(libsinsp): increase async event queue size
  userspace/libsinsp/sinsp.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2329 fix(driver): fix driver and bpf makefile for linux 6.13.
  driver/Makefile.in
  driver/bpf/Makefile
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/driver-kmod, area/driver-bpf
