Repository falcosecurity/libs, pull requests merged in 2025-04, with the labels that each got.

#2334 feat(userspace/libsinsp): isolate ifinfo from `sinsp`
  userspace/libsinsp/ifinfo.cpp
  userspace/libsinsp/ifinfo.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#2331 fix(libsinsp/filter): support syscall.type in event code search
  userspace/libsinsp/filter/ppm_codes.cpp
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#2339 fix(ci): fix zig download link
  .github/actions/install-zig/action.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#2338 refactor(userspace/libsinsp): convert some double pointers to ref
  userspace/libsinsp/fdtable.cpp
  userspace/libsinsp/fdtable.h
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp_fdtable_factory.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2344 feat(userspace/libsinsp)!: move host and port res flag into signature
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#2342 feat(libsinsp)!: move fd filtering logic out of `add_fd_from_scap`
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2349 feat(userspace/libsinsp)!: pass references to `*_to_string` utils
  userspace/libsinsp/event.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/utils.cpp
  userspace/libsinsp/utils.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2350 feat(userspace/libsinsp)!: pass ipv4 server ports as func parameter
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2351 feat(userspace/libsinsp)!: move server ports accounting in thread mgr
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
  userspace/libsinsp/threadinfo.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2347 feat(userspace/libsinsp)!: pass notify into `set_user` and `set_group` signatures
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
  userspace/libsinsp/user.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2346 fix(userspace/libsinsp): fix type mismatch warning in `parsers.cpp`
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2348 fix(userspace/libsinsp): do not throw an error while reading container's plugin IP or USER
  userspace/libsinsp/threadinfo.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2352 feat(libsinsp/userspace)!: reduce fdtable's params resources waste
  userspace/libsinsp/fdtable.cpp
  userspace/libsinsp/fdtable.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_fdtable_factory.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L

#2353 refactor(userspace/libsinsp): remove unneeded `this` lambda capture
  userspace/libsinsp/threadinfo.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2354 refactor(libsinsp/userspace): simplify thread mgr reference chains
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2335 feat(userspace/libsinsp)!: isolate `sinsp_threadinfo` from `sinsp`
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_threadinfo_factory.h
  userspace/libsinsp/threadinfo.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/L

#2356 feat(userspace/libsinsp)!: extract thread mgr accessors/tables logics
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2355 feat(userspace/libsinsp)!: avoid string copy in `get_field_accessor()`
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/libsinsp

#2360 refactor(userspace/libsinsp): pass references to internal thread manager utilities
  userspace/libsinsp/thread_manager.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2361 feat(userspace/libsinsp)!: remove unused `m_ts` from `erase_fd_params`
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/threadinfo.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2359 feat(userspace/libsinsp)!: remove dependency on parser from thread mgr
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/classes/sinsp_thread_manager.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2362 refactor(userspace/libsinsp): add `timestamper` component
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/timestamper.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2365 chore(plugin/container): bump container plugin version to 0.2.0
  cmake/modules/container_plugin.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2358 new(ci): add latest_kernel badge to driver release body.
  .github/workflows/release-body.yml
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/CI

#2369 feat(userspace/libsinsp)!: remove unused `sinsp` public APIs
  userspace/libsinsp/sinsp.h
Labels: kind/feature, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp, kind/design

#2366 feat(userspace/libsinsp)!: use `timestamper` in thread mgr
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/classes/sinsp_thread_manager.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2368 feat(userspace/libsinsp)! use `timestamper` in usergroup mgr
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/user.ut.cpp
  userspace/libsinsp/user.cpp
  userspace/libsinsp/user.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2372 refactor(userspace/libsinsp): add const/static to parser's methods
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#2373 feat(userspace/libsinsp): use factory in evt proc's `build_fdinfo()`
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_fdinfo_factory.h
Labels: kind/feature, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#2371 feat(userspace/libsinsp)!: isolate `sinsp_thread_manager` from `sinsp`
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_thread_manager_factory.h
  userspace/libsinsp/test/classes/sinsp_thread_manager.cpp
  userspace/libsinsp/thread_manager.cpp
  userspace/libsinsp/thread_manager.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#2377 feat(userspace/libsinsp)!: remove unused `sinsp_evt::clone_event()`
  userspace/libsinsp/event.cpp
  userspace/libsinsp/event.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/libsinsp

#2378 ci: remove duplicate clang line in e2e_ci.yml
  .github/workflows/e2e_ci.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/CI

#2374 feat(userspace/libsinsp)!: introduce parser verdict
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp.h
  userspace/libsinsp/sinsp_parser_verdict.h
  userspace/libsinsp/thread_manager.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/libsinsp, size/XL

#2370 fix(ci): fixed drivers_ci fedora container usage.
  .github/workflows/drivers_ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#2379 update(cmake): updated container plugin to 0.2.1.
  cmake/modules/container_plugin.cmake
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build
