Repository falcosecurity/libs, pull requests merged in 2025-08, with the labels that each got.

#2572 feat(savefile): add empty parameter support
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libsinsp/parsers.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap-engine-savefile

#2577 fix(cmake): Fix zlib PIC build flag handling
  cmake/modules/zlib.cmake
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#2589 feat!: drop `brk` enter events gen, testing and parsing code
  driver/fillers_table.c
  driver/main.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/brk.bpf.c
  driver/ppm_events_public.h
  test/drivers/test_suites/syscall_enter_suite/brk_e.cpp
  test/libsinsp_e2e/sys_call_test.cpp
  userspace/libpman/src/events_prog_table.c
  userspace/libpman/src/events_prog_table.h
  userspace/libpman/src/maps.c
  userspace/libsinsp/test/filterchecks/evt/rawarg.cpp
Labels: release-note, dco-signoff: yes, size/XXL, lgtm, approved

#2587 fix(driver/modern_bpf): remove retval from ttm kprobe signatures
  driver/modern_bpf/programs/attached/events/toctou_mitigation/sys_enter_connect.bpf.c
  driver/modern_bpf/programs/attached/events/toctou_mitigation/sys_enter_creat.bpf.c
  driver/modern_bpf/programs/attached/events/toctou_mitigation/sys_enter_open.bpf.c
  driver/modern_bpf/programs/attached/events/toctou_mitigation/sys_enter_openat.bpf.c
  driver/modern_bpf/programs/attached/events/toctou_mitigation/sys_enter_openat2.bpf.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-modern-bpf
