Repository falcosecurity/libs, pull requests merged in 2025-07, with the labels that each got.

#2523 feat: add `PPME_SYSCALL_WRITEV_E` params to `PPME_SYSCALL_WRITEV_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/writev.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/syscall_enter_suite/writev_e.cpp
  test/drivers/test_suites/syscall_exit_suite/writev_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/fs.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/parsers/parse_writev.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile, kind/test

#2509 fix(driver): cast rets and fds to 32 bits before sending them in dup*
  driver/bpf/fillers.h
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/dup.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/dup2.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/dup3.bpf.c
  driver/ppm_fillers.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/driver-kmod, area/driver-bpf, area/driver-modern-bpf

#2525 feat!(userspace/libsinsp): remove unused sinsp ptr in tinfo factory
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/sinsp_threadinfo_factory.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2524 feat: add `PPME_SYSCALL_PWRITEV_E` params to `PPME_SYSCALL_PWRITEV_X`
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/pwritev.bpf.c
  driver/ppm_fillers.c
  test/drivers/test_suites/syscall_enter_suite/pwritev_e.cpp
  test/drivers/test_suites/syscall_exit_suite/pwritev_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libsinsp_e2e/fs.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/parsers/parse_pwritev.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, size/XL, area/driver-modern-bpf, area/libscap-engine-gvisor, area/libscap-engine-savefile, kind/test

#2527 feat(userspace/libsinsp/example): add -T option to print available tables
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libsinsp

#2532 chore(libsinsp): clean "detect container id" comments
  userspace/libsinsp/parsers.cpp
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2533 feat(libscap/libsinsp): fcntl scap conversion
  driver/event_table.c
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap_event.c
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libscap, area/libsinsp, area/tests, size/L

#2535 refactor: clean scap converter tests
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, kind/cleanup, area/tests, area/libscap-engine-savefile

#2536 fix(userspace/libsinsp): fix threadinfo ctor params forward decl
  userspace/libsinsp/sinsp_external_processor.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2537 fix: fix scap converter `PT_UID` parameters default value
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/parsers.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, area/tests, size/L, area/libscap-engine-savefile

#2539 fix(userspace/libsinsp): fix recv data buffer index
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2543 ci: switch `debian:buster` apt debian repository URL to snapshot URL
  .github/workflows/ci.yml
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2548 fix(testing): adjust gvisor testing for execve
  test/libscap/test_suites/engines/gvisor/gvisor_parsers.cpp
Labels: kind/failing-test, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests

#2549 fix(userspace/libsinsp): remove state handling for PPM_SYSCALL_RMDIR
  driver/SCHEMA_VERSION
  driver/event_table.c
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/event.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp_filtercheck_fspath.cpp
  userspace/libsinsp/test/events_fspath.ut.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, area/tests, size/L, area/libscap-engine-savefile

#2550 feat: add support for creating events with empty parameters
  test/libscap/test_suites/engines/savefile/convert_event_test.h
  test/libscap/test_suites/engines/savefile/converter.cpp
  test/libscap/test_suites/userspace/scap_event.cpp
  userspace/libscap/CMakeLists.txt
  userspace/libscap/scap.h
  userspace/libscap/scap_empty_params_set.c
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/events_fspath.ut.cpp
  userspace/libsinsp/test/scap_files/scap_file_test.h
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/libscap, area/libsinsp, area/tests, kind/test

#2553 fix(libscap): add missing fd locations for dup exit events
  userspace/libscap/scap_event.c
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#2556 fix(userspace/libscap): populate error in case of failing `stat` on fd
  userspace/libscap/linux/scap_fds.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libscap

#2560 fix(userspace/libsinsp): remove state handling for PPM_SYSCALL_UNLINK and PPM_SYSCALL_UNLINKAT
  driver/SCHEMA_VERSION
  driver/event_table.c
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/event.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_fspath.cpp
  userspace/libsinsp/test/events_fspath.ut.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, area/tests, size/L, area/libscap-engine-savefile

#2564 fix(userspace/libsinsp): remove state handling for PPM_SYSCALL_LINK and PPM_SYSCALL_LINKAT
  driver/SCHEMA_VERSION
  driver/event_table.c
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libsinsp/event.cpp
  userspace/libsinsp/parsers.cpp
  userspace/libsinsp/sinsp_filtercheck_event.cpp
  userspace/libsinsp/sinsp_filtercheck_fspath.cpp
  userspace/libsinsp/test/events_fspath.ut.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, area/tests, size/XL, area/libscap-engine-savefile
