Repository falcosecurity/libs, pull requests merged in 2025-10, with the labels that each got.

#2663 fix(ebpf): do not map overlapping perf event buffers
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/bpf/scap_bpf.h
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap-engine-bpf

#2662 feat(userspace/libsinsp)!: filter out `PPME_SYSCALL_OPEN_E` events
  test/libsinsp_e2e/fs.cpp
  test/libsinsp_e2e/paths.cpp
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/events_evt.ut.cpp
  userspace/libsinsp/test/events_file.ut.cpp
  userspace/libsinsp/test/events_fspath.ut.cpp
  userspace/libsinsp/test/events_param.ut.cpp
  userspace/libsinsp/test/events_proc.ut.cpp
  userspace/libsinsp/test/filter_op_numeric_compare.ut.cpp
  userspace/libsinsp/test/filter_transformer.ut.cpp
  userspace/libsinsp/test/filterchecks/evt.cpp
  userspace/libsinsp/test/filterchecks/evt/rawarg.cpp
  userspace/libsinsp/test/filterchecks/fd.cpp
  userspace/libsinsp/test/filterchecks/static.cpp
  userspace/libsinsp/test/filterchecks/user.cpp
  userspace/libsinsp/test/plugins.ut.cpp
  userspace/libsinsp/test/plugins/metrics.cpp
  userspace/libsinsp/test/plugins/routines.cpp
  userspace/libsinsp/test/plugins/syscall_subtables.cpp
  userspace/libsinsp/test/plugins/syscall_subtables_array.cpp
  userspace/libsinsp/test/plugins/syscall_subtables_array_pair.cpp
  userspace/libsinsp/test/sinsp_with_test_input.cpp
  userspace/libsinsp/test/sinsp_with_test_input.h
Labels: kind/feature, release-note, dco-signoff: yes, size/XXL, lgtm, approved, area/libsinsp, area/tests, kind/design, kind/test

#2669 feat!: mark `{MESOS,TRACER,K8S}_E` as old and `TRACER_X` as unused
  driver/event_stats.h
  driver/event_table.c
  test/libscap/test_suites/userspace/event_table.cpp
  userspace/libsinsp/test/public_sinsp_API/ppm_sc_codes.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, size/M, kind/cleanup, area/tests

#2670 chore(userpsace/libpman): disable logging while searching for ksym btf
  userspace/libpman/src/lifecycle.c
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libpman

#2678 fix(userspace/plugin): resolve `get_required_event_schema_version()`
  userspace/plugin/plugin_loader.c
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2679 fix(userspace/libscap/engine/savefile): fall back in case of exception
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/engine/savefile/converter/types.h
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libscap-engine-savefile
