Repository falcosecurity/libs, pull requests merged in 2025-09, with the labels that each got.

#2598 test(libsinsp_e2e): increase context switching to reduce flakyness
  test/libsinsp_e2e/process.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/tests, kind/test

#2596 ci: bump zig version from `0.14.1` to `0.15.1`
  .github/actions/install-zig/action.yml
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/CI

#2592 vote: update(OWNERS): add Gerald Combs (geraldcombs) to approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/proposals

#2603 update(OWNERS): add Iacopo Rozzo (irozzo-1A) as reviewer
  OWNERS
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2404 fix(libscap): cgroupv2 path discovery with empty cgroup2 mountpoint
  userspace/libscap/debug_log_helpers.h
  userspace/libscap/linux/scap_cgroup.c
  userspace/libscap/linux/scap_cgroup.h
  userspace/libscap/linux/scap_linux_platform.c
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, area/libscap

#2621 feat!: drop deprecated `evtin.*` and `tracer.*` filterchecks support
  userspace/libsinsp/CMakeLists.txt
  userspace/libsinsp/filter_check_list.cpp
  userspace/libsinsp/filterchecks.h
  userspace/libsinsp/sinsp_filtercheck_evtin.cpp
  userspace/libsinsp/sinsp_filtercheck_evtin.h
  userspace/libsinsp/sinsp_filtercheck_tracer.cpp
  userspace/libsinsp/sinsp_filtercheck_tracer.h
Labels: release-note, dco-signoff: yes, size/XXL, lgtm, approved, area/libsinsp

#2630 feat(userspace/libsinsp/examples): add memory usage stats
  userspace/libsinsp/examples/CMakeLists.txt
  userspace/libsinsp/examples/perftest.cpp
  userspace/libsinsp/examples/perftest.h
  userspace/libsinsp/examples/test.cpp
Labels: kind/feature, dco-signoff: yes, release-note-none, lgtm, approved, area/libsinsp, size/L, kind/test

#2634 feat!: drop unused enter events scap stats counters
  driver/bpf/fillers.h
  driver/bpf/types.h
  driver/main.c
  driver/modern_bpf/shared_definitions/struct_definitions.h
  driver/ppm_ringbuffer.h
  userspace/libpman/src/stats.c
  userspace/libscap/engine/bpf/scap_bpf.c
  userspace/libscap/engine/bpf/scap_bpf_stats.h
  userspace/libscap/engine/kmod/scap_kmod.c
  userspace/libscap/engine/kmod/scap_kmod_stats.h
  userspace/libscap/examples/01-open/README.md
  userspace/libscap/scap.c
  userspace/libscap/scap.h
  userspace/libsinsp/sinsp.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, kind/cleanup, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, size/L, area/driver-modern-bpf, area/libscap-engine-bpf, area/libscap-engine-kmod, area/libpman

#2631 update(OWNERS): add Tero Kauppinen (terror96) as reviewer
  OWNERS
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#2639 refactor(driver): simplify socketcall handling logic
  driver/bpf/probe.c
  driver/main.c
  driver/socketcall_to_syscall.h
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/M, kind/cleanup, area/driver-kmod, area/driver-bpf

#2651 chore(userspace/libsinsp): mark `evt.dir` as deprecated
  userspace/libsinsp/sinsp_filtercheck_event.cpp
Labels: kind/documentation, release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2653 feat!: drop scap files' enter events not eligible for scap conversion
  userspace/libscap/engine/savefile/converter/README.md
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libscap/engine/savefile/converter/converter.h
  userspace/libscap/engine/savefile/converter/results.h
  userspace/libscap/engine/savefile/scap_savefile.c
  userspace/libsinsp/sinsp.cpp
  userspace/libsinsp/test/scap_files/scap_file_test.h
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, area/tests, size/L, area/libscap-engine-savefile, kind/test

#2655 feat!: don't reserve any byte for empty parameters values
  userspace/libscap/engine/savefile/converter/converter.cpp
  userspace/libscap/scap_event.c
  userspace/libsinsp/sinsp_filtercheck.cpp
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, approved, area/libsinsp, size/L, area/libscap-engine-savefile

#2646 doc: add plugin driver event schema check proposal
  proposals/20250923-plugin-system-event-schema-versioning.md
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/L
