Repository falcosecurity/libs, pull requests merged in 2025-01, with the labels that each got.

#2223 fix: dangling pointer and mixed-signedness warning
  test/drivers/event_class/event_class.cpp
  userspace/libscap/engine/savefile/converter/converter.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/build, area/tests

#2225 cleanup: avoid including libscap/strl.h in connect_x
  test/drivers/test_suites/syscall_exit_suite/connect_x.cpp
Labels: kind/failing-test, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/tests

#2226 update(cmake): update libelf repo location and revision
  cmake/modules/libelf.cmake
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS, kind/cleanup, area/build

#2228 fix(driver): add a check on the SCHEMA version compatibility
  userspace/libscap/engine/bpf/bpf.h
  userspace/libscap/engine/bpf/scap_bpf.c
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XL, area/API-version

#2234 fix(test/libsinsp_e2e): fixed tcp related libsinsp_e2e tests.
  test/libsinsp_e2e/tcp_client_server.cpp
  test/libsinsp_e2e/tcp_client_server.h
  test/libsinsp_e2e/tcp_client_server_ipv4_mapped.cpp
  test/libsinsp_e2e/test_helper.cpp
Labels: kind/bug, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/tests

#2237 docs(userspace/libsinsp/filter/parser): update grammar doc
  userspace/libsinsp/filter/parser.h
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2238 chore(libsinsp/runc): report correct container id with short cid
  userspace/libsinsp/runc.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2239 docs(userspace/libsinsp/filter/parser): fix grammar doc
  userspace/libsinsp/filter/parser.h
Labels: kind/documentation, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2236 cleanup(ci): use github-provided arm runners
  .github/workflows/ci.yml
  .github/workflows/drivers_ci.yml
  .github/workflows/e2e_ci.yml
  .github/workflows/latest-kernel.yml
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/CI

#2241 fix(libsinsp): allow reading scap from stdin
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, area/libsinsp

#2242 fix(libsinsp/runc): augument containerd filter
  userspace/libsinsp/runc.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2244 fix(libsinsp/runc): typo
  userspace/libsinsp/runc.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2246 cleanup(libs): remove assert() that may trigger
  userspace/libsinsp/threadinfo.cpp
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS, kind/cleanup, area/libsinsp

#2187 new(driver): update exit events `PPME_SYSCALL_WRITE_X` and `PPME_SYSCALL_PWRITE_X` with enter params
  driver/SCHEMA_VERSION
  driver/bpf/fillers.h
  driver/event_table.c
  driver/fillers_table.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/pwrite64.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/write.bpf.c
  driver/ppm_fillers.c
  driver/ppm_fillers.h
  test/drivers/test_suites/actions_suite/dynamic_snaplen.cpp
  test/drivers/test_suites/syscall_exit_suite/pwrite64_x.cpp
  test/drivers/test_suites/syscall_exit_suite/write_x.cpp
  test/libscap/test_suites/engines/savefile/converter.cpp
  userspace/libscap/engine/gvisor/fillers.cpp
  userspace/libscap/engine/gvisor/fillers.h
  userspace/libscap/engine/gvisor/parsers.cpp
  userspace/libscap/engine/savefile/converter/table.cpp
  userspace/libscap/scap.h
  userspace/libscap/scap_event.c
  userspace/libsinsp/test/events_param.ut.cpp
  userspace/libsinsp/test/parsers/parse_pwrite.cpp
  userspace/libsinsp/test/parsers/parse_write.cpp
  userspace/libsinsp/test/scap_files/converter_tests.cpp
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/driver-kmod, area/driver-bpf, area/libscap, area/libsinsp, area/tests, area/driver-modern-bpf, area/libscap-engine-gvisor

#2232 feat: add events dimensions file generator in modern probe
  .clang-format-ignore
  driver/modern_bpf/CMakeLists.txt
  driver/modern_bpf/definitions/events_dimensions.h
  driver/modern_bpf/definitions/generator/generator.cpp
  driver/modern_bpf/programs/attached/dispatchers/syscall_exit.bpf.c
  driver/modern_bpf/programs/attached/events/sched_switch.bpf.c
  driver/modern_bpf/programs/attached/events/signal_deliver.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/generic.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/pread64.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/prlimit64.bpf.c
  driver/modern_bpf/programs/tail_called/events/syscall_dispatched_events/pwrite64.bpf.c
Labels: kind/feature, dco-signoff: yes, size/XXL, release-note-none, lgtm, approved, area/build, area/driver-modern-bpf

#2260 fix(libsinsp): do not postpone observing fd erasing
  userspace/libsinsp/parsers.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, size/S, lgtm, approved, kind/cleanup, area/libsinsp

#2261 fix(sinsp): guard against uninitialized use
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, dco-signoff: yes, release-note-none, lgtm, approved, size/XS, area/libsinsp

#2250 fix(userspace/libsinsp): do not immediately process async events whose timestamp is in the future in case a SCAP_TIMEOUT is received
  userspace/libsinsp/sinsp.cpp
Labels: kind/bug, release-note, dco-signoff: yes, size/S, lgtm, approved, area/libsinsp
